[data-mistica-skin='blau'] {
    /* Palette colors */
    --mistica-blau-blauBluePrimary: #00b6f1;
    --mistica-blau-white: #ffffff;
    --mistica-blau-blauRed10: #feece8;
    --mistica-blau-blauBlueSecondary: #0072bc;
    --mistica-blau-blauBluePrimary20: #e5f6fd;
    --mistica-blau-grey2: #e7e7e7;
    --mistica-blau-grey1: #f5f9fa;
    --mistica-blau-grey5: #808285;
    --mistica-blau-blauBlueSecondary60: #005a99;
    --mistica-blau-blauRed: #f64417;
    --mistica-blau-blauRed70: #c93712;
    --mistica-blau-blauPurple10: #f1e7f7;
    --mistica-blau-blauBluePrimary30: #b3e9fb;
    --mistica-blau-blauBlueSecondary10: #e5f1f9;
    --mistica-blau-blauPurple: #7814b3;
    --mistica-blau-blauPurple30: #bb89d9;
    --mistica-blau-grey6: #000000;
    --mistica-blau-blauGreen: #30d300;
    --mistica-blau-blauYellow: #ffa922;
    --mistica-blau-blauGreen10: #eafbe5;
    --mistica-blau-blauYellow10: #fff6e9;
    --mistica-blau-blauGreen70: #1d7f00;
    --mistica-blau-blauYellow70: #996614;
    --mistica-blau-blauBlueSecondary20: #b2d4ec;
    --mistica-blau-darkModeBlack: #191919;
    --mistica-blau-darkModeGrey: #242424;
    --mistica-blau-darkModeGrey6: #313235;
    --mistica-blau-blauBlueSecondary30: #80b7df;
    --mistica-blau-grey4: #a0a0a0;
    --mistica-blau-blauGreen30: #97e980;
    --mistica-blau-blauYellow40: #ffc364;
    --mistica-blau-blauRed40: #f97c5d;

    /* Raw palette colors, for use with rgba() */
    --mistica-blau-raw-blauBluePrimary: 0, 182, 241;
    --mistica-blau-raw-darkModeBlack: 25, 25, 25;
    --mistica-blau-raw-blauBlueSecondary: 0, 114, 188;
    --mistica-blau-raw-white: 255, 255, 255;
    --mistica-blau-raw-grey6: 0, 0, 0;
    --mistica-blau-raw-darkModeGrey: 36, 36, 36;
    --mistica-blau-raw-blauPurple: 120, 20, 179;

    /* Colors */
    --mistica-color-backgroundBrand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-backgroundBrandSecondary: var(--mistica-blau-blauBluePrimary);
    --mistica-color-appBarBackground: var(--mistica-blau-white);
    --mistica-color-background: var(--mistica-blau-white);
    --mistica-color-backgroundContainer: var(--mistica-blau-white);
    --mistica-color-backgroundContainerError: var(--mistica-blau-blauRed10);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-blau-raw-blauBluePrimary), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-blau-raw-blauBluePrimary), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.2);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.4);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-backgroundContainerAlternative: var(--mistica-blau-blauBluePrimary20);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-blau-raw-blauBlueSecondary), 0.75);
    --mistica-color-backgroundSkeleton: var(--mistica-blau-grey2);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-navigationBarBackground: var(--mistica-blau-blauBluePrimary);
    --mistica-color-backgroundAlternative: var(--mistica-blau-blauBluePrimary20);
    --mistica-color-backgroundBrandTop: var(--mistica-blau-blauBluePrimary);
    --mistica-color-backgroundBrandBottom: var(--mistica-blau-blauBluePrimary);
    --mistica-color-skeletonWave: var(--mistica-blau-grey2);
    --mistica-color-borderLow: var(--mistica-blau-grey1);
    --mistica-color-border: var(--mistica-blau-grey2);
    --mistica-color-borderHigh: var(--mistica-blau-grey5);
    --mistica-color-borderSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-blau-blauRed);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-blau-blauRed70);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-blau-blauRed70);
    --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-blau-blauRed10);
    --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-blau-white);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-blau-blauRed10);
    --mistica-color-buttonLinkBackgroundSelected: var(--mistica-blau-blauPurple10);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.15);
    --mistica-color-buttonPrimaryBackground: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-blau-white);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-blau-blauBluePrimary30);
    --mistica-color-buttonSecondaryBorder: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-blau-raw-white), 0.2);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.2);
    --mistica-color-textButtonPrimary: var(--mistica-blau-white);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-textButtonSecondary: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-textButtonSecondarySelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-blau-white);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-blau-white);
    --mistica-color-textLink: var(--mistica-blau-blauPurple);
    --mistica-color-textLinkInverse: var(--mistica-blau-white);
    --mistica-color-textLinkDanger: var(--mistica-blau-blauRed);
    --mistica-color-textLinkSnackbar: var(--mistica-blau-blauPurple30);
    --mistica-color-textActivated: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-textBrand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-control: var(--mistica-blau-grey2);
    --mistica-color-controlActivated: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-controlInverse: var(--mistica-blau-blauBluePrimary30);
    --mistica-color-controlActivatedInverse: var(--mistica-blau-white);
    --mistica-color-controlError: var(--mistica-blau-blauRed);
    --mistica-color-barTrack: var(--mistica-blau-grey2);
    --mistica-color-loadingBar: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-loadingBarBackground: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-toggleAndroidInactive: var(--mistica-blau-grey2);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-iosControlKnob: var(--mistica-blau-white);
    --mistica-color-divider: var(--mistica-blau-grey2);
    --mistica-color-dividerInverse: rgba(var(--mistica-blau-raw-white), 0.2);
    --mistica-color-navigationBarDivider: var(--mistica-blau-blauBluePrimary);
    --mistica-color-badge: var(--mistica-blau-blauRed);
    --mistica-color-feedbackErrorBackground: var(--mistica-blau-blauRed);
    --mistica-color-feedbackInfoBackground: var(--mistica-blau-grey6);
    --mistica-color-brand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-brandHigh: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-inverse: var(--mistica-blau-white);
    --mistica-color-neutralHigh: var(--mistica-blau-grey6);
    --mistica-color-neutralMedium: var(--mistica-blau-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-blau-grey5);
    --mistica-color-neutralLow: var(--mistica-blau-grey1);
    --mistica-color-neutralLowAlternative: var(--mistica-blau-grey2);
    --mistica-color-textPrimary: var(--mistica-blau-grey6);
    --mistica-color-textPrimaryInverse: var(--mistica-blau-white);
    --mistica-color-textSecondary: var(--mistica-blau-grey5);
    --mistica-color-textSecondaryInverse: var(--mistica-blau-blauBluePrimary20);
    --mistica-color-error: var(--mistica-blau-blauRed);
    --mistica-color-textError: var(--mistica-blau-blauRed);
    --mistica-color-textErrorInverse: var(--mistica-blau-white);
    --mistica-color-success: var(--mistica-blau-blauGreen);
    --mistica-color-warning: var(--mistica-blau-blauYellow);
    --mistica-color-promo: var(--mistica-blau-blauPurple);
    --mistica-color-highlight: var(--mistica-blau-blauBluePrimary);
    --mistica-color-successLow: var(--mistica-blau-blauGreen10);
    --mistica-color-warningLow: var(--mistica-blau-blauYellow10);
    --mistica-color-errorLow: var(--mistica-blau-blauRed10);
    --mistica-color-promoLow: var(--mistica-blau-blauPurple10);
    --mistica-color-brandLow: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-successHigh: var(--mistica-blau-blauGreen70);
    --mistica-color-warningHigh: var(--mistica-blau-blauYellow70);
    --mistica-color-errorHigh: var(--mistica-blau-blauRed70);
    --mistica-color-promoHigh: var(--mistica-blau-blauPurple);
    --mistica-color-successHighInverse: var(--mistica-blau-blauGreen70);
    --mistica-color-warningHighInverse: var(--mistica-blau-blauYellow70);
    --mistica-color-errorHighInverse: var(--mistica-blau-blauRed70);
    --mistica-color-promoHighInverse: var(--mistica-blau-blauPurple);
    --mistica-color-textNavigationBarPrimary: var(--mistica-blau-white);
    --mistica-color-textNavigationBarSecondary: var(--mistica-blau-blauBlueSecondary20);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-blau-blauBlueSecondary20);
    --mistica-color-textNavigationSearchBarText: var(--mistica-blau-white);
    --mistica-color-textAppBar: var(--mistica-blau-grey5);
    --mistica-color-textAppBarSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-customTabsBackground: var(--mistica-blau-blauBluePrimary);
    --mistica-color-tagTextPromo: var(--mistica-blau-blauPurple);
    --mistica-color-tagTextActive: var(--mistica-blau-blauBluePrimary);
    --mistica-color-tagTextInactive: var(--mistica-blau-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-blau-blauGreen70);
    --mistica-color-tagTextWarning: var(--mistica-blau-blauYellow70);
    --mistica-color-tagTextError: var(--mistica-blau-blauRed70);
    --mistica-color-tagBackgroundPromo: var(--mistica-blau-blauPurple10);
    --mistica-color-tagBackgroundActive: var(--mistica-blau-blauBlueSecondary10);
    --mistica-color-tagBackgroundInactive: var(--mistica-blau-grey1);
    --mistica-color-tagBackgroundSuccess: var(--mistica-blau-blauGreen10);
    --mistica-color-tagBackgroundWarning: var(--mistica-blau-blauYellow10);
    --mistica-color-tagBackgroundError: var(--mistica-blau-blauRed10);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-blau-raw-grey6), 0) 0%,
        rgba(var(--mistica-blau-raw-grey6), 0.4) 30%,
        rgba(var(--mistica-blau-raw-grey6), 0.7) 100%
    );

    /* Border radius */
    --mistica-border-radius-avatar: 50%;
    --mistica-border-radius-bar: 999px;
    --mistica-border-radius-button: 4px;
    --mistica-border-radius-checkbox: 2px;
    --mistica-border-radius-container: 8px;
    --mistica-border-radius-indicator: 999px;
    --mistica-border-radius-input: 8px;
    --mistica-border-radius-legacyDisplay: 16px;
    --mistica-border-radius-popup: 8px;
    --mistica-border-radius-sheet: 8px;
    --mistica-border-radius-mediaSmall: 8px;

    /* Text */
    --mistica-font-size-1: 0.75rem;
    --mistica-line-height-1: 1rem;
    --mistica-font-size-2: 0.875rem;
    --mistica-line-height-2: 1.25rem;
    --mistica-font-size-3: 1rem;
    --mistica-line-height-3: 1.5rem;
    --mistica-font-size-4: 1.125rem;
    --mistica-line-height-4: 1.5rem;
    --mistica-font-size-5: 1.25rem;
    --mistica-line-height-5: 1.5rem;
    --mistica-font-weight-5: 300;
    --mistica-font-size-6: 1.5rem;
    --mistica-line-height-6: 2rem;
    --mistica-font-weight-6: 300;
    --mistica-font-size-7: 1.75rem;
    --mistica-line-height-7: 2rem;
    --mistica-font-weight-7: 300;
    --mistica-font-size-8: 2rem;
    --mistica-line-height-8: 2.5rem;
    --mistica-font-weight-8: 300;
    --mistica-font-size-9: 2.5rem;
    --mistica-line-height-9: 3rem;
    --mistica-font-weight-9: 300;
    --mistica-font-size-10: 3rem;
    --mistica-line-height-10: 3.5rem;
    --mistica-font-weight-10: 300;
    --mistica-font-size-cardTitle: 1.25rem;
    --mistica-line-height-cardTitle: 1.5rem;
    --mistica-font-weight-cardTitle: 400;
    --mistica-font-weight-button: 500;
    --mistica-font-size-tabsLabel: 1rem;
    --mistica-line-height-tabsLabel: 1.5rem;
    --mistica-font-weight-tabsLabel: 500;
    --mistica-font-weight-link: 500;
    --mistica-font-weight-title1: 500;
    --mistica-font-size-title2: 1.25rem;
    --mistica-line-height-title2: 1.5rem;
    --mistica-font-weight-title2: 300;
    --mistica-font-weight-indicator: 500;
    --mistica-font-weight-navigationBar: 500;
}

[data-mistica-skin='blau'][data-mistica-color-scheme='dark'] {
    --mistica-color-background: var(--mistica-blau-darkModeBlack);
    --mistica-color-backgroundAlternative: var(--mistica-blau-darkModeBlack);
    --mistica-color-backgroundBrand: var(--mistica-blau-darkModeBlack);
    --mistica-color-backgroundBrandSecondary: var(--mistica-blau-darkModeBlack);
    --mistica-color-backgroundContainer: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundContainerError: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-blau-raw-white), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-blau-raw-white), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-blau-raw-white), 0.03);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-blau-raw-white), 0.05);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundContainerAlternative: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-blau-raw-darkModeGrey), 0.8);
    --mistica-color-backgroundSkeleton: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-blau-darkModeGrey);
    --mistica-color-backgroundBrandTop: var(--mistica-blau-darkModeBlack);
    --mistica-color-backgroundBrandBottom: var(--mistica-blau-darkModeBlack);
    --mistica-color-appBarBackground: var(--mistica-blau-darkModeGrey);
    --mistica-color-navigationBarBackground: var(--mistica-blau-darkModeBlack);
    --mistica-color-skeletonWave: var(--mistica-blau-grey5);
    --mistica-color-borderLow: var(--mistica-blau-darkModeBlack);
    --mistica-color-border: var(--mistica-blau-darkModeGrey);
    --mistica-color-borderHigh: var(--mistica-blau-grey5);
    --mistica-color-borderSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-blau-blauRed);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-blau-blauRed70);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-blau-blauRed70);
    --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
    --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-blau-raw-white), 0);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
    --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
    --mistica-color-buttonPrimaryBackground: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-blau-blauBluePrimary);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-blau-blauBlueSecondary60);
    --mistica-color-buttonSecondaryBorder: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-blau-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-blau-raw-white), 0.15);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-blau-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-blau-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.15);
    --mistica-color-textButtonPrimary: var(--mistica-blau-grey2);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-blau-grey2);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-blau-grey2);
    --mistica-color-textButtonSecondary: var(--mistica-blau-grey2);
    --mistica-color-textButtonSecondarySelected: var(--mistica-blau-grey2);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-blau-grey2);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-blau-grey2);
    --mistica-color-textLink: var(--mistica-blau-blauPurple30);
    --mistica-color-textLinkInverse: var(--mistica-blau-blauPurple30);
    --mistica-color-textLinkDanger: var(--mistica-blau-blauRed);
    --mistica-color-textLinkSnackbar: var(--mistica-blau-blauPurple30);
    --mistica-color-textActivated: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-textBrand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-control: var(--mistica-blau-darkModeGrey6);
    --mistica-color-controlActivated: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-controlInverse: var(--mistica-blau-darkModeGrey6);
    --mistica-color-controlActivatedInverse: var(--mistica-blau-blauBlueSecondary);
    --mistica-color-controlError: var(--mistica-blau-blauRed);
    --mistica-color-barTrack: var(--mistica-blau-darkModeGrey6);
    --mistica-color-loadingBar: var(--mistica-blau-blauBluePrimary);
    --mistica-color-loadingBarBackground: var(--mistica-blau-darkModeGrey);
    --mistica-color-toggleAndroidInactive: var(--mistica-blau-grey5);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-blau-blauBlueSecondary30);
    --mistica-color-iosControlKnob: var(--mistica-blau-grey2);
    --mistica-color-divider: rgba(var(--mistica-blau-raw-white), 0.05);
    --mistica-color-dividerInverse: rgba(var(--mistica-blau-raw-white), 0.05);
    --mistica-color-navigationBarDivider: var(--mistica-blau-darkModeBlack);
    --mistica-color-badge: var(--mistica-blau-blauRed);
    --mistica-color-feedbackErrorBackground: var(--mistica-blau-blauRed);
    --mistica-color-feedbackInfoBackground: var(--mistica-blau-darkModeGrey);
    --mistica-color-brand: var(--mistica-blau-blauBluePrimary);
    --mistica-color-brandHigh: rgba(var(--mistica-blau-raw-white), 0.05);
    --mistica-color-inverse: var(--mistica-blau-grey2);
    --mistica-color-neutralHigh: var(--mistica-blau-grey2);
    --mistica-color-neutralMedium: var(--mistica-blau-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-blau-grey5);
    --mistica-color-neutralLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-neutralLowAlternative: var(--mistica-blau-darkModeGrey6);
    --mistica-color-textPrimary: var(--mistica-blau-grey2);
    --mistica-color-textPrimaryInverse: var(--mistica-blau-grey2);
    --mistica-color-textSecondary: var(--mistica-blau-grey4);
    --mistica-color-textSecondaryInverse: var(--mistica-blau-grey4);
    --mistica-color-error: var(--mistica-blau-blauRed);
    --mistica-color-textError: var(--mistica-blau-blauRed);
    --mistica-color-textErrorInverse: var(--mistica-blau-blauRed);
    --mistica-color-success: var(--mistica-blau-blauGreen);
    --mistica-color-warning: var(--mistica-blau-blauYellow);
    --mistica-color-promo: var(--mistica-blau-blauPurple);
    --mistica-color-highlight: var(--mistica-blau-blauBluePrimary);
    --mistica-color-successLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-warningLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-errorLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-promoLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-brandLow: var(--mistica-blau-darkModeGrey6);
    --mistica-color-successHigh: var(--mistica-blau-blauGreen30);
    --mistica-color-warningHigh: var(--mistica-blau-blauYellow40);
    --mistica-color-errorHigh: var(--mistica-blau-blauRed40);
    --mistica-color-promoHigh: var(--mistica-blau-blauPurple30);
    --mistica-color-successHighInverse: var(--mistica-blau-blauGreen70);
    --mistica-color-warningHighInverse: var(--mistica-blau-blauYellow70);
    --mistica-color-errorHighInverse: var(--mistica-blau-blauRed70);
    --mistica-color-promoHighInverse: var(--mistica-blau-blauPurple);
    --mistica-color-textNavigationBarPrimary: var(--mistica-blau-grey2);
    --mistica-color-textNavigationBarSecondary: var(--mistica-blau-grey4);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-blau-grey4);
    --mistica-color-textNavigationSearchBarText: var(--mistica-blau-grey2);
    --mistica-color-textAppBar: var(--mistica-blau-grey5);
    --mistica-color-textAppBarSelected: var(--mistica-blau-grey2);
    --mistica-color-customTabsBackground: var(--mistica-blau-darkModeBlack);
    --mistica-color-tagTextPromo: var(--mistica-blau-blauPurple30);
    --mistica-color-tagTextActive: var(--mistica-blau-blauBluePrimary);
    --mistica-color-tagTextInactive: var(--mistica-blau-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-blau-blauGreen30);
    --mistica-color-tagTextWarning: var(--mistica-blau-blauYellow40);
    --mistica-color-tagTextError: var(--mistica-blau-blauRed40);
    --mistica-color-tagBackgroundPromo: var(--mistica-blau-darkModeGrey6);
    --mistica-color-tagBackgroundActive: var(--mistica-blau-darkModeGrey6);
    --mistica-color-tagBackgroundInactive: var(--mistica-blau-darkModeGrey6);
    --mistica-color-tagBackgroundSuccess: var(--mistica-blau-darkModeGrey6);
    --mistica-color-tagBackgroundWarning: var(--mistica-blau-darkModeGrey6);
    --mistica-color-tagBackgroundError: var(--mistica-blau-darkModeGrey6);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-blau-raw-grey6), 0) 0%,
        rgba(var(--mistica-blau-raw-grey6), 0.4) 30%,
        rgba(var(--mistica-blau-raw-grey6), 0.7) 100%
    );
}

@media (prefers-color-scheme: dark) {
    [data-mistica-skin='blau'] {
        --mistica-color-background: var(--mistica-blau-darkModeBlack);
        --mistica-color-backgroundAlternative: var(--mistica-blau-darkModeBlack);
        --mistica-color-backgroundBrand: var(--mistica-blau-darkModeBlack);
        --mistica-color-backgroundBrandSecondary: var(--mistica-blau-darkModeBlack);
        --mistica-color-backgroundContainer: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundContainerError: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-blau-raw-white), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-blau-raw-white), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-blau-raw-white), 0.03);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-blau-raw-white), 0.05);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundContainerAlternative: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-blau-raw-darkModeGrey), 0.8);
        --mistica-color-backgroundSkeleton: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-blau-darkModeGrey);
        --mistica-color-backgroundBrandTop: var(--mistica-blau-darkModeBlack);
        --mistica-color-backgroundBrandBottom: var(--mistica-blau-darkModeBlack);
        --mistica-color-appBarBackground: var(--mistica-blau-darkModeGrey);
        --mistica-color-navigationBarBackground: var(--mistica-blau-darkModeBlack);
        --mistica-color-skeletonWave: var(--mistica-blau-grey5);
        --mistica-color-borderLow: var(--mistica-blau-darkModeBlack);
        --mistica-color-border: var(--mistica-blau-darkModeGrey);
        --mistica-color-borderHigh: var(--mistica-blau-grey5);
        --mistica-color-borderSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-blau-blauRed);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-blau-blauRed70);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-blau-blauRed70);
        --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
        --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-blau-raw-white), 0);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(
            var(--mistica-blau-raw-blauPurple),
            0.3
        );
        --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-blau-raw-blauPurple), 0.3);
        --mistica-color-buttonPrimaryBackground: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-blau-blauBluePrimary);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonSecondaryBorder: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-blau-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-blau-raw-white), 0.15);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-blau-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.15);
        --mistica-color-textButtonPrimary: var(--mistica-blau-grey2);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-blau-grey2);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-blau-grey2);
        --mistica-color-textButtonSecondary: var(--mistica-blau-grey2);
        --mistica-color-textButtonSecondarySelected: var(--mistica-blau-grey2);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-blau-grey2);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-blau-grey2);
        --mistica-color-textLink: var(--mistica-blau-blauPurple30);
        --mistica-color-textLinkInverse: var(--mistica-blau-blauPurple30);
        --mistica-color-textLinkDanger: var(--mistica-blau-blauRed);
        --mistica-color-textLinkSnackbar: var(--mistica-blau-blauPurple30);
        --mistica-color-textActivated: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-textBrand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-control: var(--mistica-blau-darkModeGrey6);
        --mistica-color-controlActivated: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-controlInverse: var(--mistica-blau-darkModeGrey6);
        --mistica-color-controlActivatedInverse: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-controlError: var(--mistica-blau-blauRed);
        --mistica-color-barTrack: var(--mistica-blau-darkModeGrey6);
        --mistica-color-loadingBar: var(--mistica-blau-blauBluePrimary);
        --mistica-color-loadingBarBackground: var(--mistica-blau-darkModeGrey);
        --mistica-color-toggleAndroidInactive: var(--mistica-blau-grey5);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-blau-blauBlueSecondary30);
        --mistica-color-iosControlKnob: var(--mistica-blau-grey2);
        --mistica-color-divider: rgba(var(--mistica-blau-raw-white), 0.05);
        --mistica-color-dividerInverse: rgba(var(--mistica-blau-raw-white), 0.05);
        --mistica-color-navigationBarDivider: var(--mistica-blau-darkModeBlack);
        --mistica-color-badge: var(--mistica-blau-blauRed);
        --mistica-color-feedbackErrorBackground: var(--mistica-blau-blauRed);
        --mistica-color-feedbackInfoBackground: var(--mistica-blau-darkModeGrey);
        --mistica-color-brand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-brandHigh: rgba(var(--mistica-blau-raw-white), 0.05);
        --mistica-color-inverse: var(--mistica-blau-grey2);
        --mistica-color-neutralHigh: var(--mistica-blau-grey2);
        --mistica-color-neutralMedium: var(--mistica-blau-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-blau-grey5);
        --mistica-color-neutralLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-neutralLowAlternative: var(--mistica-blau-darkModeGrey6);
        --mistica-color-textPrimary: var(--mistica-blau-grey2);
        --mistica-color-textPrimaryInverse: var(--mistica-blau-grey2);
        --mistica-color-textSecondary: var(--mistica-blau-grey4);
        --mistica-color-textSecondaryInverse: var(--mistica-blau-grey4);
        --mistica-color-error: var(--mistica-blau-blauRed);
        --mistica-color-textError: var(--mistica-blau-blauRed);
        --mistica-color-textErrorInverse: var(--mistica-blau-blauRed);
        --mistica-color-success: var(--mistica-blau-blauGreen);
        --mistica-color-warning: var(--mistica-blau-blauYellow);
        --mistica-color-promo: var(--mistica-blau-blauPurple);
        --mistica-color-highlight: var(--mistica-blau-blauBluePrimary);
        --mistica-color-successLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-warningLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-errorLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-promoLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-brandLow: var(--mistica-blau-darkModeGrey6);
        --mistica-color-successHigh: var(--mistica-blau-blauGreen30);
        --mistica-color-warningHigh: var(--mistica-blau-blauYellow40);
        --mistica-color-errorHigh: var(--mistica-blau-blauRed40);
        --mistica-color-promoHigh: var(--mistica-blau-blauPurple30);
        --mistica-color-successHighInverse: var(--mistica-blau-blauGreen70);
        --mistica-color-warningHighInverse: var(--mistica-blau-blauYellow70);
        --mistica-color-errorHighInverse: var(--mistica-blau-blauRed70);
        --mistica-color-promoHighInverse: var(--mistica-blau-blauPurple);
        --mistica-color-textNavigationBarPrimary: var(--mistica-blau-grey2);
        --mistica-color-textNavigationBarSecondary: var(--mistica-blau-grey4);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-blau-grey4);
        --mistica-color-textNavigationSearchBarText: var(--mistica-blau-grey2);
        --mistica-color-textAppBar: var(--mistica-blau-grey5);
        --mistica-color-textAppBarSelected: var(--mistica-blau-grey2);
        --mistica-color-customTabsBackground: var(--mistica-blau-darkModeBlack);
        --mistica-color-tagTextPromo: var(--mistica-blau-blauPurple30);
        --mistica-color-tagTextActive: var(--mistica-blau-blauBluePrimary);
        --mistica-color-tagTextInactive: var(--mistica-blau-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-blau-blauGreen30);
        --mistica-color-tagTextWarning: var(--mistica-blau-blauYellow40);
        --mistica-color-tagTextError: var(--mistica-blau-blauRed40);
        --mistica-color-tagBackgroundPromo: var(--mistica-blau-darkModeGrey6);
        --mistica-color-tagBackgroundActive: var(--mistica-blau-darkModeGrey6);
        --mistica-color-tagBackgroundInactive: var(--mistica-blau-darkModeGrey6);
        --mistica-color-tagBackgroundSuccess: var(--mistica-blau-darkModeGrey6);
        --mistica-color-tagBackgroundWarning: var(--mistica-blau-darkModeGrey6);
        --mistica-color-tagBackgroundError: var(--mistica-blau-darkModeGrey6);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-blau-raw-grey6), 0) 0%,
            rgba(var(--mistica-blau-raw-grey6), 0.4) 30%,
            rgba(var(--mistica-blau-raw-grey6), 0.7) 100%
        );
    }

    [data-mistica-skin='blau'][data-mistica-color-scheme='light'] {
        --mistica-color-background: var(--mistica-blau-white);
        --mistica-color-backgroundAlternative: var(--mistica-blau-blauBluePrimary20);
        --mistica-color-backgroundBrand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-backgroundBrandSecondary: var(--mistica-blau-blauBluePrimary);
        --mistica-color-backgroundContainer: var(--mistica-blau-white);
        --mistica-color-backgroundContainerError: var(--mistica-blau-blauRed10);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-blau-raw-blauBluePrimary), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-blau-raw-blauBluePrimary), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.2);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.4);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-backgroundContainerAlternative: var(--mistica-blau-blauBluePrimary20);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-blau-raw-blauBlueSecondary), 0.75);
        --mistica-color-backgroundSkeleton: var(--mistica-blau-grey2);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-backgroundBrandTop: var(--mistica-blau-blauBluePrimary);
        --mistica-color-backgroundBrandBottom: var(--mistica-blau-blauBluePrimary);
        --mistica-color-appBarBackground: var(--mistica-blau-white);
        --mistica-color-navigationBarBackground: var(--mistica-blau-blauBluePrimary);
        --mistica-color-skeletonWave: var(--mistica-blau-grey2);
        --mistica-color-borderLow: var(--mistica-blau-grey1);
        --mistica-color-border: var(--mistica-blau-grey2);
        --mistica-color-borderHigh: var(--mistica-blau-grey5);
        --mistica-color-borderSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-blau-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-blau-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-blau-blauRed);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-blau-blauRed70);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-blau-blauRed70);
        --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-blau-blauRed10);
        --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-blau-white);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-blau-blauRed10);
        --mistica-color-buttonLinkBackgroundSelected: var(--mistica-blau-blauPurple10);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.15);
        --mistica-color-buttonPrimaryBackground: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-blau-white);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-blau-blauBluePrimary30);
        --mistica-color-buttonSecondaryBorder: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-blau-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-blau-raw-white), 0.2);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-blau-raw-white), 0.2);
        --mistica-color-textButtonPrimary: var(--mistica-blau-white);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-textButtonSecondary: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-textButtonSecondarySelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-blau-white);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-blau-white);
        --mistica-color-textLink: var(--mistica-blau-blauPurple);
        --mistica-color-textLinkInverse: var(--mistica-blau-white);
        --mistica-color-textLinkDanger: var(--mistica-blau-blauRed);
        --mistica-color-textLinkSnackbar: var(--mistica-blau-blauPurple30);
        --mistica-color-textActivated: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-textBrand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-control: var(--mistica-blau-grey2);
        --mistica-color-controlActivated: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-controlInverse: var(--mistica-blau-blauBluePrimary30);
        --mistica-color-controlActivatedInverse: var(--mistica-blau-white);
        --mistica-color-controlError: var(--mistica-blau-blauRed);
        --mistica-color-barTrack: var(--mistica-blau-grey2);
        --mistica-color-loadingBar: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-loadingBarBackground: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-toggleAndroidInactive: var(--mistica-blau-grey2);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-iosControlKnob: var(--mistica-blau-white);
        --mistica-color-divider: var(--mistica-blau-grey2);
        --mistica-color-dividerInverse: rgba(var(--mistica-blau-raw-white), 0.2);
        --mistica-color-navigationBarDivider: var(--mistica-blau-blauBluePrimary);
        --mistica-color-badge: var(--mistica-blau-blauRed);
        --mistica-color-feedbackErrorBackground: var(--mistica-blau-blauRed);
        --mistica-color-feedbackInfoBackground: var(--mistica-blau-grey6);
        --mistica-color-brand: var(--mistica-blau-blauBluePrimary);
        --mistica-color-brandHigh: var(--mistica-blau-blauBlueSecondary);
        --mistica-color-inverse: var(--mistica-blau-white);
        --mistica-color-neutralHigh: var(--mistica-blau-grey6);
        --mistica-color-neutralMedium: var(--mistica-blau-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-blau-grey5);
        --mistica-color-neutralLow: var(--mistica-blau-grey1);
        --mistica-color-neutralLowAlternative: var(--mistica-blau-grey2);
        --mistica-color-textPrimary: var(--mistica-blau-grey6);
        --mistica-color-textPrimaryInverse: var(--mistica-blau-white);
        --mistica-color-textSecondary: var(--mistica-blau-grey5);
        --mistica-color-textSecondaryInverse: var(--mistica-blau-blauBluePrimary20);
        --mistica-color-error: var(--mistica-blau-blauRed);
        --mistica-color-textError: var(--mistica-blau-blauRed);
        --mistica-color-textErrorInverse: var(--mistica-blau-white);
        --mistica-color-success: var(--mistica-blau-blauGreen);
        --mistica-color-warning: var(--mistica-blau-blauYellow);
        --mistica-color-promo: var(--mistica-blau-blauPurple);
        --mistica-color-highlight: var(--mistica-blau-blauBluePrimary);
        --mistica-color-successLow: var(--mistica-blau-blauGreen10);
        --mistica-color-warningLow: var(--mistica-blau-blauYellow10);
        --mistica-color-errorLow: var(--mistica-blau-blauRed10);
        --mistica-color-promoLow: var(--mistica-blau-blauPurple10);
        --mistica-color-brandLow: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-successHigh: var(--mistica-blau-blauGreen70);
        --mistica-color-warningHigh: var(--mistica-blau-blauYellow70);
        --mistica-color-errorHigh: var(--mistica-blau-blauRed70);
        --mistica-color-promoHigh: var(--mistica-blau-blauPurple);
        --mistica-color-successHighInverse: var(--mistica-blau-blauGreen70);
        --mistica-color-warningHighInverse: var(--mistica-blau-blauYellow70);
        --mistica-color-errorHighInverse: var(--mistica-blau-blauRed70);
        --mistica-color-promoHighInverse: var(--mistica-blau-blauPurple);
        --mistica-color-textNavigationBarPrimary: var(--mistica-blau-white);
        --mistica-color-textNavigationBarSecondary: var(--mistica-blau-blauBlueSecondary20);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-blau-blauBlueSecondary20);
        --mistica-color-textNavigationSearchBarText: var(--mistica-blau-white);
        --mistica-color-textAppBar: var(--mistica-blau-grey5);
        --mistica-color-textAppBarSelected: var(--mistica-blau-blauBlueSecondary60);
        --mistica-color-customTabsBackground: var(--mistica-blau-blauBluePrimary);
        --mistica-color-tagTextPromo: var(--mistica-blau-blauPurple);
        --mistica-color-tagTextActive: var(--mistica-blau-blauBluePrimary);
        --mistica-color-tagTextInactive: var(--mistica-blau-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-blau-blauGreen70);
        --mistica-color-tagTextWarning: var(--mistica-blau-blauYellow70);
        --mistica-color-tagTextError: var(--mistica-blau-blauRed70);
        --mistica-color-tagBackgroundPromo: var(--mistica-blau-blauPurple10);
        --mistica-color-tagBackgroundActive: var(--mistica-blau-blauBlueSecondary10);
        --mistica-color-tagBackgroundInactive: var(--mistica-blau-grey1);
        --mistica-color-tagBackgroundSuccess: var(--mistica-blau-blauGreen10);
        --mistica-color-tagBackgroundWarning: var(--mistica-blau-blauYellow10);
        --mistica-color-tagBackgroundError: var(--mistica-blau-blauRed10);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-blau-raw-grey6), 0) 0%,
            rgba(var(--mistica-blau-raw-grey6), 0.4) 30%,
            rgba(var(--mistica-blau-raw-grey6), 0.7) 100%
        );
    }
}

@media (min-width: 1024px) {
    [data-mistica-skin='blau'] {
        /* Text */
        --mistica-font-size-1: 0.875rem;
        --mistica-line-height-1: 1.25rem;
        --mistica-font-size-2: 1rem;
        --mistica-line-height-2: 1.5rem;
        --mistica-font-size-3: 1.125rem;
        --mistica-line-height-3: 1.5rem;
        --mistica-font-size-4: 1.25rem;
        --mistica-line-height-4: 1.75rem;
        --mistica-font-size-5: 1.75rem;
        --mistica-line-height-5: 2rem;
        --mistica-font-size-6: 2rem;
        --mistica-line-height-6: 2.5rem;
        --mistica-font-size-7: 2.5rem;
        --mistica-line-height-7: 3rem;
        --mistica-font-size-8: 3rem;
        --mistica-line-height-8: 3.5rem;
        --mistica-font-size-9: 3.5rem;
        --mistica-line-height-9: 4rem;
        --mistica-font-size-10: 4rem;
        --mistica-line-height-10: 4.5rem;
        --mistica-font-size-cardTitle: 1.5rem;
        --mistica-line-height-cardTitle: 1.75rem;

        --mistica-font-size-tabsLabel: 1.125rem;
        --mistica-line-height-tabsLabel: 1.5rem;

        --mistica-font-size-title2: 1.75rem;
        --mistica-line-height-title2: 2rem;
    }
}
