[data-mistica-variant='inverse'] > *,
.mistica-display-card:has(.mistica-card__media) > * {
    --mistica-boxed-border: none;

    --vcolor-textPrimary: var(--mistica-color-textPrimaryInverse);
    --vcolor-textSecondary: var(--mistica-color-textSecondaryInverse);
    --vcolor-textLink: var(--mistica-color-textLinkInverse);
    --vcolor-textError: var(--mistica-color-textErrorInverse);

    --vcolor-textButtonPrimary: var(--mistica-color-textButtonPrimaryInverse);
    --vcolor-textButtonSecondary: var(--mistica-color-textButtonSecondaryInverse);
    --vcolor-textButtonError: var(--mistica-color-textButtonPrimary);
    --vcolor-buttonPrimaryBackground: var(--mistica-color-buttonPrimaryBackgroundInverse);
    --vcolor-buttonPrimaryBackgroundHover: var(--mistica-color-buttonPrimaryBackgroundInversePressed);
    --vcolor-buttonPrimaryBackgroundPressed: var(--mistica-color-buttonPrimaryBackgroundInversePressed);
    --vcolor-buttonSecondaryBorder: var(--mistica-color-buttonSecondaryBorderInverse);
    --vcolor-textButtonSecondaryPressed: var(--mistica-color-textButtonSecondaryInversePressed);
    --vcolor-buttonSecondaryBackgroundHover: var(--mistica-color-buttonSecondaryBackgroundInverseHover);
    --vcolor-buttonSecondaryBackgroundPressed: var(--mistica-color-buttonSecondaryBackgroundInversePressed);
    --vcolor-buttonLinkBackgroundPressed: var(--mistica-color-buttonLinkBackgroundInversePressed);

    --vcolor-tagBackgroundPromo: var(--mistica-color-tagBackgroundPromoInverse);
    --vcolor-tagTextPromo: var(--mistica-color-tagTextPromoInverse);
    --vcolor-tagBackgroundActive: var(--mistica-color-tagBackgroundActiveInverse);
    --vcolor-tagTextActive: var(--mistica-color-tagTextActiveInverse);
    --vcolor-tagBackgroundInactive: var(--mistica-color-tagBackgroundInactiveInverse);
    --vcolor-tagTextInactive: var(--mistica-color-tagTextInactiveInverse);
    --vcolor-tagBackgroundSuccess: var(--mistica-color-tagBackgroundSuccessInverse);
    --vcolor-tagTextSuccess: var(--mistica-color-tagTextSuccessInverse);
    --vcolor-tagBackgroundWarning: var(--mistica-color-tagBackgroundWarningInverse);
    --vcolor-tagTextWarning: var(--mistica-color-tagTextWarningInverse);
    --vcolor-tagBackgroundError: var(--mistica-color-tagBackgroundErrorInverse);
    --vcolor-tagTextError: var(--mistica-color-tagTextErrorInverse);

    --vcolor-accordionChevronClosed: var(--mistica-color-inverse);
    --vcolor-accordionChevronOpen: var(--mistica-color-inverse);
    --vcolor-accordionHover: var(--mistica-color-backgroundContainerBrandHover);
    --vcolor-accordionActive: var(--mistica-color-backgroundContainerBrandPressed);

    --vcolor-divider: var(--mistica-color-dividerInverse);

    --vcolor-control: var(--mistica-color-controlInverse);
    --vcolor-controlActivated: var(--mistica-color-controlActivatedInverse);
    --vcolor-checkbox-tick: var(--mistica-color-controlKnobInverse);
    --vcolor-checkbox-background: transparent;

    --vcolor-inputBorder: var(--mistica-color-backgroundContainer);
}

[data-mistica-skin] > *,
[data-mistica-variant='default'] > *,
.mistica-card > *,
.mistica-snap-card > *,
.mistica-display-card > * {
    --mistica-boxed-border: 1px solid var(--mistica-color-border);
    --vcolor-textPrimary: var(--mistica-color-textPrimary);
    --vcolor-textSecondary: var(--mistica-color-textSecondary);
    --vcolor-textLink: var(--mistica-color-textLink);
    --vcolor-textError: var(--mistica-color-textError);

    --vcolor-textButtonPrimary: var(--mistica-color-textButtonPrimary);
    --vcolor-textButtonSecondary: var(--mistica-color-textButtonSecondary);
    --vcolor-textButtonError: var(--mistica-color-textButtonPrimary);
    --vcolor-buttonPrimaryBackground: var(--mistica-color-buttonPrimaryBackground);
    --vcolor-buttonPrimaryBackgroundHover: var(--mistica-color-buttonPrimaryBackgroundHover);
    --vcolor-buttonPrimaryBackgroundPressed: var(--mistica-color-buttonPrimaryBackgroundPressed);
    --vcolor-buttonSecondaryBorder: var(--mistica-color-buttonSecondaryBorder);
    --vcolor-textButtonSecondaryPressed: var(--mistica-color-textButtonSecondaryPressed);
    --vcolor-buttonSecondaryBackgroundHover: var(--mistica-color-buttonSecondaryBackgroundHover);
    --vcolor-buttonSecondaryBackgroundPressed: var(--mistica-color-buttonSecondaryBackgroundPressed);
    --vcolor-buttonLinkBackgroundPressed: var(--mistica-color-buttonLinkBackgroundPressed);

    --vcolor-tagBackgroundPromo: var(--mistica-color-tagBackgroundPromo);
    --vcolor-tagTextPromo: var(--mistica-color-tagTextPromo);
    --vcolor-tagBackgroundActive: var(--mistica-color-tagBackgroundActive);
    --vcolor-tagTextActive: var(--mistica-color-tagTextActive);
    --vcolor-tagBackgroundInactive: var(--mistica-color-tagBackgroundInactive);
    --vcolor-tagTextInactive: var(--mistica-color-tagTextInactive);
    --vcolor-tagBackgroundSuccess: var(--mistica-color-tagBackgroundSuccess);
    --vcolor-tagTextSuccess: var(--mistica-color-tagTextSuccess);
    --vcolor-tagBackgroundWarning: var(--mistica-color-tagBackgroundWarning);
    --vcolor-tagTextWarning: var(--mistica-color-tagTextWarning);
    --vcolor-tagBackgroundError: var(--mistica-color-tagBackgroundError);
    --vcolor-tagTextError: var(--mistica-color-tagTextError);

    --vcolor-accordionChevronClosed: var(--mistica-color-neutralMedium);
    --vcolor-accordionChevronOpen: var(--mistica-color-neutralHigh);
    --vcolor-accordionHover: var(--mistica-color-backgroundContainerHover);
    --vcolor-accordionActive: var(--mistica-color-backgroundContainerPressed);

    --vcolor-divider: var(--mistica-color-divider);

    --vcolor-control: var(--mistica-color-control);
    --vcolor-controlActivated: var(--mistica-color-controlActivated);
    --vcolor-checkbox-tick: var(--mistica-color-inverse);
    --vcolor-checkbox-background: var(--mistica-color-background);

    --vcolor-inputBorder: var(--mistica-color-inputBorder);
}

@media (prefers-color-scheme: dark) {
    [data-mistica-skin] > *,
    [data-mistica-variant='default'] > *,
    .mistica-card > *,
    .mistica-snap-card > * {
        --mistica-boxed-border: none;
    }

    [data-mistica-color-scheme='light'][data-mistica-skin] > *,
    [data-mistica-color-scheme='light'] [data-mistica-variant='default'] > *,
    [data-mistica-color-scheme='light'] .mistica-card > *,
    [data-mistica-color-scheme='light'] .mistica-snap-card > * {
        --mistica-boxed-border: 1px solid var(--mistica-color-border);
    }
}

[data-mistica-color-scheme='dark'][data-mistica-skin] > *,
[data-mistica-color-scheme='dark'] [data-mistica-variant='default'] > *,
[data-mistica-color-scheme='dark'] .mistica-card > *,
[data-mistica-color-scheme='dark'] .mistica-snap-card > * {
    --mistica-boxed-border: none;
}

[data-mistica-skin] {
    background: var(--mistica-color-background);
}

/* text utility classes */
.mistica-text-1 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-1);
    line-height: var(--mistica-line-height-1);
    font-weight: var(--mistica-font-weight-1);
}
.mistica-text-2 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    font-weight: var(--mistica-font-weight-2);
}
.mistica-text-3 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: var(--mistica-font-weight-3);
}
.mistica-text-4 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-4);
    line-height: var(--mistica-line-height-4);
    font-weight: var(--mistica-font-weight-4);
}
.mistica-text-5 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-5);
    line-height: var(--mistica-line-height-5);
    font-weight: var(--mistica-font-weight-5);
}
.mistica-text-6 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-6);
    line-height: var(--mistica-line-height-6);
    font-weight: var(--mistica-font-weight-6);
}
.mistica-text-7 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-7);
    line-height: var(--mistica-line-height-7);
    font-weight: var(--mistica-font-weight-7);
}
.mistica-text-8 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-8);
    line-height: var(--mistica-line-height-8);
    font-weight: var(--mistica-font-weight-8);
}
.mistica-text-9 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-9);
    line-height: var(--mistica-line-height-9);
    font-weight: var(--mistica-font-weight-9);
}
.mistica-text-10 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-10);
    line-height: var(--mistica-line-height-10);
    font-weight: var(--mistica-font-weight-10);
}
.mistica-text-cardTitle {
    font-size: var(--mistica-font-size-cardTitle);
    line-height: var(--mistica-line-height-cardTitle);
    font-weight: var(--mistica-font-weight-cardTitle);
}
.mistica-text-button {
    font-size: var(--mistica-font-size-button);
    line-height: var(--mistica-line-height-button);
    font-weight: var(--mistica-font-weight-button);
}
.mistica-text-tabsLabel {
    font-size: var(--mistica-font-size-tabsLabel);
    line-height: var(--mistica-line-height-tabsLabel);
    font-weight: var(--mistica-font-weight-tabsLabel);
}
.mistica-text-link {
    font-size: var(--mistica-font-size-link);
    line-height: var(--mistica-line-height-link);
    font-weight: var(--mistica-font-weight-link);
}
.mistica-text-title1 {
    color: var(--vcolor-textSecondary);
    text-transform: uppercase;
    font-size: var(--mistica-font-size-1);
    line-height: var(--mistica-line-height-1);
    font-weight: var(--mistica-font-weight-title1);
}
.mistica-text-title2 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: var(--mistica-font-weight-title2);
}
.mistica-text-title3 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-title3);
    line-height: var(--mistica-line-height-title3);
    font-weight: var(--mistica-font-weight-title3);
}
.mistica-text-title4 {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-6);
    line-height: var(--mistica-line-height-6);
    font-weight: var(--mistica-font-weight-6);
}
.mistica-text-indicator {
    font-size: var(--mistica-font-size-indicator);
    line-height: var(--mistica-line-height-indicator);
    font-weight: var(--mistica-font-weight-indicator);
}
.mistica-text-navigationBar {
    font-size: var(--mistica-font-size-navigationBar);
    line-height: var(--mistica-line-height-navigationBar);
    font-weight: var(--mistica-font-weight-navigationBar);
}

/* Boxed */
.mistica-boxed {
    border: var(--mistica-boxed-border);
    border-radius: var(--mistica-border-radius-container);
    background: var(--mistica-color-backgroundContainer);
}

/* Responsive layout */
.mistica-responsive-layout {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding: 0 var(--mistica-responsive-layout-margin);
    --mistica-responsive-layout-margin: 16px;
}

.mistica-responsive-layout[data-mistica-variant='inverse'] {
    background: var(--mistica-color-backgroundBrand);
}

@media (min-width: 768px) {
    .mistica-responsive-layout {
        --mistica-responsive-layout-margin: 24px;
    }
}

@media (min-width: 1024px) {
    .mistica-responsive-layout {
        --mistica-responsive-layout-margin: 40px;
    }
}

@media (min-width: 1368px) {
    .mistica-responsive-layout {
        --mistica-responsive-layout-margin: calc((100vw - 1224px) / 2);
    }
}

/* Chip */

.mistica-chip {
    font-weight: var(--mistica-font-weight-indicator);
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    color: var(--mistica-color-textPrimary);
    border: 1px solid var(--mistica-color-control);
    border-radius: var(--mistica-border-radius-indicator);
    background: var(--mistica-color-backgroundContainer);
    position: relative;
    overflow: hidden;
    min-width: 72px;
    min-height: 40px;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
label.mistica-chip {
    padding: 0;
    border: none;
    overflow: visible;
    background: transparent;
}
label.mistica-chip > span {
    border: 1px solid var(--mistica-color-control);
    border-radius: var(--mistica-border-radius-indicator);
    background: var(--mistica-color-backgroundContainer);
    position: relative;
    overflow: hidden;
    min-width: 72px;
    min-height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) {
    .mistica-chip,
    label.mistica-chip > span {
        min-width: 56px;
        min-height: 32px;
        padding: 0 12px;
    }
}

button.mistica-chip,
a.mistica-chip,
label.mistica-chip {
    cursor: pointer;
    user-select: none;
}

button.mistica-chip:before,
a.mistica-chip:before,
label.mistica-chip > span:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background-color 0.1s ease-in-out;
}

button.mistica-chip:hover:before,
a.mistica-chip:hover:before,
label.mistica-chip > input:hover + span:before {
    background: var(--mistica-color-backgroundContainerHover);
}

button.mistica-chip:active:before,
a.mistica-chip:active:before,
label.mistica-chip > input:active + span:before {
    background: var(--mistica-color-backgroundContainerPressed);
}

label.mistica-chip > input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: var(--mistica-border-radius-indicator);
    outline-offset: 0;
}

label.mistica-chip > input:checked + span {
    color: var(--mistica-color-textActivated);
    background: var(--mistica-color-brandLow);
    border-color: var(--mistica-color-controlActivated);
}

.mistica-chip > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    margin-left: 4px;
    margin-right: -4px;
}

.mistica-chip > button > svg {
    width: 1rem;
    height: 1rem;
}

/* Tag */
[class^='mistica-tag'] {
    font-weight: var(--mistica-font-weight-indicator);
    border-radius: var(--mistica-border-radius-indicator);
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 56px;
    padding: 4px 12px;
    vertical-align: middle;
    width: fit-content;
}

.mistica-tag-promo {
    background: var(--vcolor-tagBackgroundPromo);
    color: var(--vcolor-tagTextPromo);
}

.mistica-tag-active {
    background: var(--vcolor-tagBackgroundActive);
    color: var(--vcolor-tagTextActive);
}

.mistica-tag-inactive {
    background: var(--vcolor-tagBackgroundInactive);
    color: var(--vcolor-tagTextInactive);
}

.mistica-tag-success {
    background: var(--vcolor-tagBackgroundSuccess);
    color: var(--vcolor-tagTextSuccess);
}

.mistica-tag-warning {
    background: var(--vcolor-tagBackgroundWarning);
    color: var(--vcolor-tagTextWarning);
}

.mistica-tag-error {
    background: var(--vcolor-tagBackgroundError);
    color: var(--vcolor-tagTextError);
}

/* TextLink */

.mistica-text-link {
    color: var(--vcolor-textLink);
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: underline;
}

.mistica-text-link:hover:not([disabled]) {
    text-decoration-thickness: 0.125em;
}

.mistica-text-link[disabled] {
    opacity: 0.5;
    text-decoration: none;
}

/* Breadcrumbs */
.mistica-breadcrumb ol {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mistica-breadcrumb li {
    display: inline;
}

.mistica-breadcrumb a {
    text-decoration: underline;
    font-size: var(--mistica-font-size-1);
    line-height: var(--mistica-line-height-1);
    font-weight: var(--mistica-font-weight-1);
    color: var(--vcolor-textPrimary);
}

.mistica-breadcrumb li + li::before {
    display: inline-block;
    margin: -1px 0.25em;
    transform: rotate(18deg);
    border-right: 0.1em solid var(--vcolor-textPrimary);
    height: 0.8em;
    content: '';
}

.mistica-breadcrumb a:hover {
    text-decoration-thickness: 0.125rem;
}

.mistica-breadcrumb li:last-of-type a {
    pointer-events: none;
    color: var(--vcolor-textSecondary);
    padding-right: 0;
    text-decoration: none;
}

/* Buttons */
[class^='mistica-button'] {
    --button-font-size: var(--mistica-font-size-3);
    --button-line-height: var(--mistica-line-height-3);
    display: inline-block;
    border-radius: var(--mistica-border-radius-button);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    font-weight: var(--mistica-font-weight-button);
    border: 1.5px solid transparent;
    box-sizing: border-box;
    min-width: 104px;
    padding: 10.5px 14.5px;
    cursor: pointer;
    /* Reset default browser styles */
    font-family: inherit;
    appearance: none;
    user-select: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    --webkit-tap-highlight-color: transparent;
    transition:
        background-color 0.1s ease-in-out,
        color 0.1s ease-in-out,
        border-color 0.1s ease-in-out;
}

[class^='mistica-button']:hover,
[class^='mistica-button']:active {
    text-decoration: none;
}

[class^='mistica-button'][disabled] {
    cursor: default;
}

[class^='mistica-button-primary'] {
    color: var(--vcolor-textButtonPrimary);
    background: var(--vcolor-buttonPrimaryBackground);
}

[class^='mistica-button-primary']:hover {
    background: var(--vcolor-buttonPrimaryBackgroundHover);
}

[class^='mistica-button-primary']:active {
    background: var(--vcolor-buttonPrimaryBackgroundPressed);
}

[class^='mistica-button-secondary'] {
    color: var(--vcolor-textButtonSecondary);
    background: transparent;
    border-color: var(--vcolor-buttonSecondaryBorder);
}

[class^='mistica-button-secondary']:hover {
    background: var(--vcolor-buttonSecondaryBackgroundHover);
}

[class^='mistica-button-secondary']:active {
    background: var(--vcolor-buttonSecondaryBackgroundPressed);
}

[class^='mistica-button-danger'] {
    color: var(--vcolor-textButtonError);
    background: var(--mistica-color-buttonDangerBackground);
}

[class^='mistica-button-danger']:hover {
    background: var(--mistica-color-buttonDangerBackgroundHover);
}

[class^='mistica-button-danger']:active {
    background: var(--mistica-color-buttonDangerBackgroundPressed);
}

[class^='mistica-button-link'] {
    color: var(--vcolor-textLink);
    background: transparent;
}

[class^='mistica-button-link']:hover {
    background: var(--vcolor-buttonLinkBackgroundPressed);
}

[class^='mistica-button-link']:active {
    background: var(--vcolor-buttonLinkBackgroundPressed);
}

[class^='mistica-button'][class$='small'] {
    --button-font-size: 0.875rem;
    --button-line-height: 1.25rem;
    padding: 4.5px 10.5px;
    min-width: 80px;
}

/* Cards */
.mistica-card,
.mistica-snap-card,
.mistica-display-card {
    text-decoration: none;
    position: relative;
    border: var(--mistica-boxed-border);
    border-radius: var(--mistica-border-radius-container);
    background: var(--mistica-color-backgroundContainer);
    padding: 24px 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    transition: background 0.1s ease-in-out;
    isolation: isolate;
}

@media (min-width: 1024px) {
    .mistica-card {
        padding: 32px 24px;
    }
}

.mistica-card:after,
.mistica-snap-card:after,
.mistica-display-card:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mistica-card > *,
.mistica-snap-card > *,
.mistica-display-card > * {
    z-index: 2;
}

.mistica-card .mistica-card__media,
.mistica-display-card .mistica-card__media {
    z-index: 1;
}

a.mistica-card:hover:after,
a.mistica-snap-card:hover:after,
a.mistica-display-card:hover:after,
button.mistica-card:hover:after,
button.mistica-snap-card:hover:after,
button.mistica-display-card:hover:after {
    background: var(--mistica-color-backgroundContainerHover);
}

a.mistica-card:active:after,
a.mistica-snap-card:active:after,
a.mistica-display-card:active:after,
button.mistica-card:active:after,
button.mistica-snap-card:active:after,
button.mistica-display-card:active:after {
    background: var(--mistica-color-backgroundContainerPressed);
}

.mistica-naked-card,
.mistica-small-naked-card {
    text-decoration: none;
}

.mistica-naked-card > *,
.mistica-small-naked-card > * {
    transition:
        opacity 0.1s ease-in-out,
        filter 0.1s ease-in-out;
}

a.mistica-naked-card:hover > *,
button.mistica-naked-card:hover > *,
a.mistica-small-naked-card:hover > *,
button.mistica-small-naked-card:hover > * {
    opacity: 0.8;
}

a.mistica-naked-card:active > *,
button.mistica-naked-card:active > *,
a.mistica-small-naked-card:active > *,
button.mistica-small-naked-card:active > * {
    opacity: 0.6;
}

a.mistica-naked-card:hover > .mistica-card__media,
button.mistica-naked-card:hover > .mistica-card__media,
a.mistica-small-naked-card:hover > .mistica-card__media,
button.mistica-small-naked-card:hover > .mistica-card__media {
    opacity: 1;
    filter: brightness(75%);
}

a.mistica-naked-card:active > .mistica-card__media,
button.mistica-naked-card:active > .mistica-card__media,
a.mistica-small-naked-card:active > .mistica-card__media,
button.mistica-small-naked-card:active > .mistica-card__media {
    opacity: 1;
    filter: brightness(65%);
}

.mistica-card,
.mistica-snap-card,
.mistica-display-card {
    --mistica-card-text-color: var(--mistica-color-textPrimary);
    --mistica-card-description-text-color: var(--mistica-color-textSecondary);
    color: var(--mistica-card-text-color);
}

.mistica-naked-card,
.mistica-small-naked-card {
    --mistica-card-text-color: var(--vcolor-textPrimary);
    --mistica-card-description-text-color: var(--vcolor-textSecondary);
    color: var(--mistica-card-text-color);
}

.mistica-snap-card {
    padding: 16px;
}

@media (min-width: 1024px) {
    .mistica-snap-card {
        padding: 24px;
    }
}

.mistica-display-card {
    padding: 24px;
    border-radius: var(--mistica-border-radius-legacyDisplay);
    justify-content: flex-end;
}

.mistica-naked-card,
.mistica-small-naked-card {
    position: relative;
    padding-right: 16px;
}

.mistica-aspect-ratio {
    display: flex;
    flex: 1;
}

.mistica-aspect-ratio::before {
    content: '';
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.mistica-card .mistica-card__media {
    margin: -24px -16px 16px -16px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: calc(100% + 32px);
    max-width: initial; /* Movistar AEM has a default max-width: 100% for any img tag */
    position: relative;
}

@media (min-width: 1024px) {
    .mistica-card .mistica-card__media {
        margin: -32px -24px 24px -24px;
        width: calc(100% + 48px);
    }
}

.mistica-naked-card .mistica-card__media,
.mistica-small-naked-card .mistica-card__media {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: calc(100% + 16px);
    border-radius: var(--mistica-border-radius-container);
    margin-bottom: 16px;
}

.mistica-display-card .mistica-card__media {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mistica-display-card:has(.mistica-card__media) {
    isolation: isolate;
    padding-top: 40px;
    border: none;
    --mistica-card-text-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
    --mistica-card-text-color: var(--mistica-color-textPrimaryInverse);
    --mistica-card-description-text-color: var(--mistica-color-textPrimaryInverse);
}

.mistica-display-card:has(.mistica-card__media):after {
    background: var(--mistica-color-cardContentOverlay);
}

a.mistica-display-card:has(.mistica-card__media):hover:after,
button.mistica-display-card:has(.mistica-card__media):hover:after {
    background: var(--mistica-color-cardContentOverlay) var(--mistica-color-backgroundContainerHover);
}

a.mistica-display-card:has(.mistica-card__media):active:after,
button.mistica-display-card:has(.mistica-card__media):active:after {
    background: var(--mistica-color-cardContentOverlay) var(--mistica-color-backgroundContainerPressed);
}

.mistica-card__pretitle {
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    font-weight: var(--mistica-font-weight-2);
    text-shadow: var(--mistica-card-text-shadow);
}

[class^='mistica-tag'] + .mistica-card__pretitle {
    padding-top: 8px;
}

.mistica-display-card [class^='mistica-tag'] + .mistica-card__pretitle {
    padding-top: 16px;
}

.mistica-card__title {
    font-size: var(--mistica-font-size-cardTitle);
    line-height: var(--mistica-line-height-cardTitle);
    font-weight: var(--mistica-font-weight-cardTitle);
    text-shadow: var(--mistica-card-text-shadow);
}

.mistica-snap-card .mistica-card__title,
.mistica-small-naked-card .mistica-card__title {
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
}

.mistica-display-card .mistica-card__title {
    font-size: var(--mistica-font-size-6);
    line-height: var(--mistica-line-height-6);
    font-weight: var(--mistica-font-weight-6);
}

[class^='mistica-tag'] + .mistica-card__title {
    padding-top: 8px;
}

.mistica-display-card [class^='mistica-tag'] + .mistica-card__title {
    padding-top: 16px;
}

.mistica-card__pretitle + .mistica-card__title {
    padding-top: 4px;
}

.mistica-card__subtitle {
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    font-weight: var(--mistica-font-weight-2);
    text-shadow: var(--mistica-card-text-shadow);
    padding-top: 4px;
}

.mistica-card__description {
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    font-weight: var(--mistica-font-weight-2);
    text-shadow: var(--mistica-card-text-shadow);
    color: var(--mistica-card-description-text-color);
}

.mistica-display-card .mistica-card__description {
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: var(--mistica-font-weight-3);
}

.mistica-card__description:not(:first-child) {
    padding-top: 8px;
}

.mistica-snap-card .mistica-card__description:not(:first-child) {
    padding-top: 4px;
}

.mistica-card__buttons {
    padding-top: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
}

.mistica-card .mistica-card__buttons {
    flex: 1;
}

/* Accordion */

.mistica-accordion-item {
    interpolate-size: allow-keywords;
}

.mistica-accordion-item:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--vcolor-divider);
}

.mistica-accordion-item:last-child:after {
    display: none;
}

.mistica-accordion-item__summary {
    cursor: pointer;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 0 -16px;
    transition: background-color 0.1s ease-in-out;
}

.mistica-accordion-item__summary-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.mistica-accordion-item__summary-title {
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: var(--mistica-font-weight-3);
    color: var(--vcolor-textPrimary);
}

.mistica-accordion-item__summary-subtitle {
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
    font-weight: var(--mistica-font-weight-2);
    color: var(--vcolor-textPrimary);
}

.mistica-accordion-item__chevron {
    transition: transform 0.4s;
    color: var(--vcolor-accordionChevronClosed);
    flex-shrink: 0;
}

.mistica-accordion-item[open] > summary > .mistica-accordion-item__chevron {
    transform: rotate(-180deg);
    color: var(--vcolor-accordionChevronOpen);
}

.mistica-accordion-item__summary:hover {
    background-color: var(--vcolor-accordionHover);
}

.mistica-accordion-item__summary:active {
    background-color: var(--vcolor-accordionActive);
}

.mistica-accordion-item::details-content {
    overflow: hidden;
    height: 0;

    transition:
        height 0.4s,
        content-visibility 0.4s;
    transition-behavior: allow-discrete;
}

.mistica-accordion-item__content {
    padding: 0 16px 16px;
    margin: 0 -16px;
}

.mistica-accordion-item[open]::details-content {
    height: auto;
}

/* Grid Layout */

.mistica-grid-layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
}

@media (max-width: 1023px) {
    .mistica-grid-layout {
        grid-template-columns: minmax(0, 1fr);
        row-gap: 0;
    }

    .mistica-grid-layout [class^='mistica-col-'] {
        grid-column: span 1;
    }

    .mistica-grid-col-1 {
        display: none;
    }

    .mistica-grid-vertical-space-2 {
        row-gap: 2px;
    }

    .mistica-grid-vertical-space-8 {
        row-gap: 8px;
    }

    .mistica-grid-vertical-space-12 {
        row-gap: 12px;
    }

    .mistica-grid-vertical-space-16 {
        row-gap: 16px;
    }

    .mistica-grid-vertical-space-24 {
        row-gap: 24px;
    }

    .mistica-grid-vertical-space-32 {
        row-gap: 32px;
    }
}

@media (min-width: 1024px) and (max-width: 1367px) {
    .mistica-grid-layout {
        grid-column-gap: 16px;
    }
}

.mistica-grid-col-1 {
    grid-column: span 1;
}

.mistica-grid-col-3 {
    grid-column: span 3;
}

.mistica-grid-col-4 {
    grid-column: span 4;
}

.mistica-grid-col-5 {
    grid-column: span 5;
}

.mistica-grid-col-6 {
    grid-column: span 6;
}

.mistica-grid-col-8 {
    grid-column: span 8;
}

.mistica-grid-col-9 {
    grid-column: span 9;
}

/* Table */
.mistica-table {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    width: 100%;
}

.mistica-table thead tr {
    font-size: var(--mistica-font-size-1);
    line-height: var(--mistica-line-height-1);
    font-weight: 500;
    text-transform: uppercase;
    color: var(--vcolor-textSecondary);
}

.mistica-table tbody td,
.mistica-table tbody th {
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-2);
    line-height: var(--mistica-line-height-2);
}

.mistica-table th,
.mistica-table td {
    border-bottom: 1px solid var(--mistica-color-divider);
    padding: 16px 12px;
    height: 56px;
    vertical-align: middle;
    text-align: left;
}
.mistica-table th:first-child,
.mistica-table td:first-child {
    padding-left: 0;
}
.mistica-table th:last-child,
.mistica-table td:last-child {
    padding-right: 0;
}
.mistica-table tbody tr:last-child td,
.mistica-table tbody tr:last-child th {
    border-bottom: none;
}

@media (max-width: 1023px) {
    .mistica-table-mobile-collapsed,
    .mistica-table-mobile-collapsed thead,
    .mistica-table-mobile-collapsed tbody,
    .mistica-table-mobile-collapsed th,
    .mistica-table-mobile-collapsed td,
    .mistica-table-mobile-collapsed tr {
        display: block;
    }
    .mistica-table-mobile-collapsed tr {
        display: flex;
        flex-direction: column;
    }
    .mistica-table-mobile-collapsed tbody th {
        order: -1;
        font-size: var(--mistica-font-size-4);
        line-height: var(--mistica-line-height-4);
        font-weight: var(--mistica-font-weight-cardTitle);
        padding-bottom: 8px;
    }
    .mistica-table-mobile-collapsed tbody td,
    .mistica-table-mobile-collapsed tbody th {
        vertical-align: initial;
        border: none;
        height: auto;
        padding: 0 0 8px 0;
    }
    .mistica-table-mobile-collapsed tbody td:last-child {
        padding-bottom: 0;
    }
    .mistica-table-mobile-collapsed tbody tr {
        padding: 16px 0;
    }
    .mistica-table-mobile-collapsed tbody tr:not(:last-child) {
        border-bottom: 1px solid var(--mistica-color-divider);
    }
    .mistica-table-mobile-collapsed td[data-heading]:before {
        display: block;
        content: attr(data-heading);
        font-size: var(--mistica-font-size-1);
        line-height: var(--mistica-line-height-1);
        font-weight: 500;
        color: var(--vcolor-textSecondary);
        padding-bottom: 4px;
    }
    .mistica-table-mobile-collapsed thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

.mistica-card__asset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.mistica-card__asset-floating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    margin-left: 16px;
    margin-top: 16px;
}

.mistica-card__asset-floating img,
.mistica-card__asset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

@media (min-width: 1024px) {
    .mistica-card__asset-floating {
        margin-left: 24px;
        margin-top: 24px;
    }
}

/* Checkbox */
.mistica-checkbox {
    appearance: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin: 0;
    border-radius: var(--mistica-border-radius-checkbox);
    background: var(--vcolor-checkbox-background);
    box-shadow: inset 0 0 0 2px var(--vcolor-control);
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.mistica-checkbox:not(:focus-visible) {
    outline: 1px solid transparent;
}

.mistica-checkbox:checked {
    box-shadow: inset 0 0 0 12px var(--vcolor-controlActivated);
}

.mistica-checkbox:disabled {
    cursor: default;
    opacity: 0.5;
}

.mistica-checkbox:before {
    content: '';
    width: 12px;
    height: 7px;
    border-bottom: 2px solid var(--vcolor-checkbox-tick);
    border-left: 2px solid var(--vcolor-checkbox-tick);
    transform: scale(0) rotate(-45deg) translate(1.5px, -1.5px);
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.mistica-checkbox:checked:before {
    transform: scale(1) rotate(-45deg) translate(1.5px, -1.5px);
}

.mistica-checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: var(--vcolor-textPrimary);
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: var(--mistica-font-weight-3);
    cursor: pointer;
}

.mistica-checkbox-label:has(.mistica-checkbox:disabled) {
    cursor: default;
    opacity: 0.5;
}

.mistica-checkbox-label:has(.mistica-checkbox:disabled) > .mistica-checkbox {
    opacity: initial; /* avoid applying 0.5 opacity twice */
}

/* Counter */

.mistica-counter {
    border-radius: var(--mistica-border-radius-button);
    background: var(--mistica-color-backgroundContainer);
    display: inline-flex;
    gap: 8px;
    overflow: hidden;
    border: 1px solid var(--vcolor-inputBorder);
}

.mistica-counter input {
    width: 3.75ch;
    background: transparent;
    border: none;
    appearance: none;
    font-size: var(--mistica-font-size-3);
    line-height: var(--mistica-line-height-3);
    font-weight: 400;
    caret-color: var(--mistica-color-textActivated);
    color: var(--mistica-color-textPrimary);
    text-overflow: ellipsis;
    outline: none;
    box-shadow: none;
    text-align: center;
}

.mistica-counter__button {
    user-select: none;
    isolation: isolate;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    color: var(--mistica-color-controlActivated);
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.mistica-counter__button svg {
    z-index: 1;
}

.mistica-counter__button:before {
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: var(--mistica-border-radius-button);
    background: var(--mistica-color-brandLow);
    transform: scale(0);
    transition:
        transform 0.2s ease-in-out,
        background 0.1s ease-in-out;
}

.mistica-counter__button:hover:not(:disabled):before {
    transform: scale(1);
}
.mistica-counter__button:active:not(:disabled):before {
    transform: scale(1.06);
}

.mistica-counter__button:disabled {
    cursor: default;
    color: var(--mistica-color-control);
}
