[data-mistica-skin='movistar'] {
    /* Palette colors */
    --mistica-movistar-white: #ffffff;
    --mistica-movistar-grey1: #f6f6f6;
    --mistica-movistar-movistarBlue: #0b9cea;
    --mistica-movistar-movistarBlueDark: #0b2739;
    --mistica-movistar-pepper10: #ffebed;
    --mistica-movistar-movistarBlue55: #008edd;
    --mistica-movistar-grey2: #eeeeee;
    --mistica-movistar-grey3: #dddddd;
    --mistica-movistar-grey5: #6b6c6f;
    --mistica-movistar-pepper55: #d73241;
    --mistica-movistar-pepper70: #b22634;
    --mistica-movistar-pepper65: #bf2937;
    --mistica-movistar-movistarBlue10: #e6f5fd;
    --mistica-movistar-movistarBlueHC: #066fcb;
    --mistica-movistar-movistarBlueHC65: #055398;
    --mistica-movistar-movistarBlueHC55: #055eac;
    --mistica-movistar-movistarBlue15: #ceebfb;
    --mistica-movistar-pepper60: #cc2c3b;
    --mistica-movistar-movistarBlue30: #80cef9;
    --mistica-movistar-grey4: #949494;
    --mistica-movistar-movistarBlue20: #b3e1fb;
    --mistica-movistar-movistarGreen55: #52a413;
    --mistica-movistar-egg55: #d97d0d;
    --mistica-movistar-purple: #a13ea1;
    --mistica-movistar-pink55: #c42f6d;
    --mistica-movistar-movistarGreen10: #eff8e8;
    --mistica-movistar-egg10: #fef4e8;
    --mistica-movistar-purple10: #f6ecf6;
    --mistica-movistar-movistarGreen70: #407f0f;
    --mistica-movistar-egg80: #6d3f09;
    --mistica-movistar-purple70: #712b71;
    --mistica-movistar-darkModeBlack: #061824;
    --mistica-movistar-darkModeGrey: #081f2e;
    --mistica-movistar-darkModeGrey6: #3c5261;
    --mistica-movistar-darkModeGrey5: #6d7d88;
    --mistica-movistar-darkModeGrey2: #eaebee;
    --mistica-movistar-pepper45: #ff5f6e;
    --mistica-movistar-darkModeGrey4: #85939c;
    --mistica-movistar-movistarBlue40: #4dbaf7;
    --mistica-movistar-movistarGreen: #5cb615;
    --mistica-movistar-egg: #f28d15;
    --mistica-movistar-purple40: #bd78bd;
    --mistica-movistar-pink45: #eb5f99;
    --mistica-movistar-darkModeGrey7: #032f46;
    --mistica-movistar-movistarGreen40: #8dcc5b;
    --mistica-movistar-egg40: #f6af5b;
    --mistica-movistar-purple35: #c78bc7;
    --mistica-movistar-darkModeGrey3: #ced4d7;

    /* Raw palette colors, for use with rgba() */
    --mistica-movistar-raw-black: 0, 0, 0;
    --mistica-movistar-raw-movistarBlueDark: 11, 39, 57;
    --mistica-movistar-raw-white: 255, 255, 255;
    --mistica-movistar-raw-darkModeGrey: 8, 31, 46;
    --mistica-movistar-raw-darkModeBlack: 6, 24, 36;

    /* Colors */
    --mistica-color-background: var(--mistica-movistar-white);
    --mistica-color-backgroundAlternative: var(--mistica-movistar-grey1);
    --mistica-color-backgroundBrand: var(--mistica-movistar-movistarBlue);
    --mistica-color-backgroundBrandSecondary: var(--mistica-movistar-movistarBlueDark);
    --mistica-color-backgroundContainer: var(--mistica-movistar-white);
    --mistica-color-backgroundContainerError: var(--mistica-movistar-pepper10);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-movistar-raw-black), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-movistar-raw-black), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-movistar-movistarBlue);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-movistar-raw-black), 0.1);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-movistar-raw-black), 0.2);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-movistar-movistarBlue55);
    --mistica-color-backgroundContainerAlternative: var(--mistica-movistar-grey1);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-movistar-raw-movistarBlueDark), 0.6);
    --mistica-color-backgroundSkeleton: var(--mistica-movistar-grey2);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-movistar-movistarBlue55);
    --mistica-color-backgroundBrandTop: var(--mistica-movistar-movistarBlue);
    --mistica-color-backgroundBrandBottom: var(--mistica-movistar-movistarBlue);
    --mistica-color-appBarBackground: var(--mistica-movistar-white);
    --mistica-color-navigationBarBackground: var(--mistica-movistar-movistarBlue);
    --mistica-color-skeletonWave: var(--mistica-movistar-grey2);
    --mistica-color-borderLow: var(--mistica-movistar-grey1);
    --mistica-color-border: var(--mistica-movistar-grey3);
    --mistica-color-borderHigh: var(--mistica-movistar-grey5);
    --mistica-color-borderSelected: var(--mistica-movistar-movistarBlue);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-movistar-raw-black), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-movistar-raw-black), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-movistar-pepper55);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-movistar-pepper70);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-movistar-pepper65);
    --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-movistar-pepper10);
    --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-movistar-white);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-movistar-pepper10);
    --mistica-color-buttonLinkBackgroundSelected: var(--mistica-movistar-movistarBlue10);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.2);
    --mistica-color-buttonPrimaryBackground: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-movistar-white);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-movistar-movistarBlueHC65);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-movistar-movistarBlueHC55);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-movistar-movistarBlue10);
    --mistica-color-buttonSecondaryBorder: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-movistar-movistarBlueHC65);
    --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-movistar-movistarBlue10);
    --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-movistar-movistarBlue15);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-movistar-white);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-movistar-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-movistar-raw-white), 0.2);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.3);
    --mistica-color-textButtonPrimary: var(--mistica-movistar-white);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-textButtonSecondary: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-textButtonSecondarySelected: var(--mistica-movistar-movistarBlueHC55);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-movistar-white);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-movistar-white);
    --mistica-color-textLink: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-textLinkInverse: var(--mistica-movistar-white);
    --mistica-color-textLinkDanger: var(--mistica-movistar-pepper60);
    --mistica-color-textLinkSnackbar: var(--mistica-movistar-movistarBlue30);
    --mistica-color-textActivated: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-textBrand: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-control: var(--mistica-movistar-grey4);
    --mistica-color-controlActivated: var(--mistica-movistar-movistarBlue);
    --mistica-color-controlInverse: var(--mistica-movistar-movistarBlue20);
    --mistica-color-controlActivatedInverse: var(--mistica-movistar-white);
    --mistica-color-controlError: var(--mistica-movistar-pepper55);
    --mistica-color-barTrack: var(--mistica-movistar-grey3);
    --mistica-color-loadingBar: var(--mistica-movistar-movistarBlue);
    --mistica-color-loadingBarBackground: var(--mistica-movistar-grey2);
    --mistica-color-toggleAndroidInactive: var(--mistica-movistar-grey2);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-movistar-movistarBlue20);
    --mistica-color-iosControlKnob: var(--mistica-movistar-white);
    --mistica-color-divider: var(--mistica-movistar-grey3);
    --mistica-color-dividerInverse: rgba(var(--mistica-movistar-raw-white), 0.2);
    --mistica-color-navigationBarDivider: var(--mistica-movistar-movistarBlue);
    --mistica-color-badge: var(--mistica-movistar-pepper55);
    --mistica-color-feedbackErrorBackground: var(--mistica-movistar-pepper55);
    --mistica-color-feedbackInfoBackground: var(--mistica-movistar-movistarBlueDark);
    --mistica-color-brand: var(--mistica-movistar-movistarBlue);
    --mistica-color-brandHigh: var(--mistica-movistar-movistarBlue55);
    --mistica-color-inverse: var(--mistica-movistar-white);
    --mistica-color-neutralHigh: var(--mistica-movistar-movistarBlueDark);
    --mistica-color-neutralMedium: var(--mistica-movistar-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-movistar-grey5);
    --mistica-color-neutralLow: var(--mistica-movistar-grey1);
    --mistica-color-neutralLowAlternative: var(--mistica-movistar-grey2);
    --mistica-color-textPrimary: var(--mistica-movistar-movistarBlueDark);
    --mistica-color-textPrimaryInverse: var(--mistica-movistar-white);
    --mistica-color-textSecondary: var(--mistica-movistar-grey5);
    --mistica-color-textSecondaryInverse: var(--mistica-movistar-movistarBlue10);
    --mistica-color-success: var(--mistica-movistar-movistarGreen55);
    --mistica-color-warning: var(--mistica-movistar-egg55);
    --mistica-color-error: var(--mistica-movistar-pepper55);
    --mistica-color-textError: var(--mistica-movistar-pepper55);
    --mistica-color-textErrorInverse: var(--mistica-movistar-white);
    --mistica-color-promo: var(--mistica-movistar-purple);
    --mistica-color-highlight: var(--mistica-movistar-pink55);
    --mistica-color-successLow: var(--mistica-movistar-movistarGreen10);
    --mistica-color-warningLow: var(--mistica-movistar-egg10);
    --mistica-color-errorLow: var(--mistica-movistar-pepper10);
    --mistica-color-promoLow: var(--mistica-movistar-purple10);
    --mistica-color-brandLow: var(--mistica-movistar-movistarBlue10);
    --mistica-color-successHigh: var(--mistica-movistar-movistarGreen70);
    --mistica-color-warningHigh: var(--mistica-movistar-egg80);
    --mistica-color-errorHigh: var(--mistica-movistar-pepper70);
    --mistica-color-promoHigh: var(--mistica-movistar-purple70);
    --mistica-color-successHighInverse: var(--mistica-movistar-movistarGreen70);
    --mistica-color-warningHighInverse: var(--mistica-movistar-egg80);
    --mistica-color-errorHighInverse: var(--mistica-movistar-pepper70);
    --mistica-color-promoHighInverse: var(--mistica-movistar-purple70);
    --mistica-color-textNavigationBarPrimary: var(--mistica-movistar-white);
    --mistica-color-textNavigationBarSecondary: var(--mistica-movistar-movistarBlue20);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-movistar-movistarBlue20);
    --mistica-color-textNavigationSearchBarText: var(--mistica-movistar-white);
    --mistica-color-textAppBar: var(--mistica-movistar-grey5);
    --mistica-color-textAppBarSelected: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-customTabsBackground: var(--mistica-movistar-white);
    --mistica-color-tagTextPromo: var(--mistica-movistar-purple70);
    --mistica-color-tagTextActive: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-tagTextInactive: var(--mistica-movistar-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-movistar-movistarGreen70);
    --mistica-color-tagTextWarning: var(--mistica-movistar-egg80);
    --mistica-color-tagTextError: var(--mistica-movistar-pepper70);
    --mistica-color-tagBackgroundPromo: var(--mistica-movistar-purple10);
    --mistica-color-tagBackgroundActive: var(--mistica-movistar-movistarBlue10);
    --mistica-color-tagBackgroundInactive: var(--mistica-movistar-grey1);
    --mistica-color-tagBackgroundSuccess: var(--mistica-movistar-movistarGreen10);
    --mistica-color-tagBackgroundWarning: var(--mistica-movistar-egg10);
    --mistica-color-tagBackgroundError: var(--mistica-movistar-pepper10);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-movistar-raw-black), 0) 0%,
        rgba(var(--mistica-movistar-raw-black), 0.4) 30%,
        rgba(var(--mistica-movistar-raw-black), 0.7) 100%
    );

    /* Border radius */
    --mistica-border-radius-avatar: 50%;
    --mistica-border-radius-bar: 999px;
    --mistica-border-radius-button: 4px;
    --mistica-border-radius-checkbox: 2px;
    --mistica-border-radius-container: 8px;
    --mistica-border-radius-indicator: 999px;
    --mistica-border-radius-input: 8px;
    --mistica-border-radius-legacyDisplay: 16px;
    --mistica-border-radius-popup: 8px;
    --mistica-border-radius-sheet: 8px;
    --mistica-border-radius-mediaSmall: 8px;

    /* Text */
    --mistica-font-size-1: 0.75rem;
    --mistica-line-height-1: 1rem;
    --mistica-font-size-2: 0.875rem;
    --mistica-line-height-2: 1.25rem;
    --mistica-font-size-3: 1rem;
    --mistica-line-height-3: 1.5rem;
    --mistica-font-size-4: 1.125rem;
    --mistica-line-height-4: 1.5rem;
    --mistica-font-size-5: 1.25rem;
    --mistica-line-height-5: 1.5rem;
    --mistica-font-weight-5: 700;
    --mistica-font-size-6: 1.5rem;
    --mistica-line-height-6: 2rem;
    --mistica-font-weight-6: 700;
    --mistica-font-size-7: 1.75rem;
    --mistica-line-height-7: 2rem;
    --mistica-font-weight-7: 700;
    --mistica-font-size-8: 2rem;
    --mistica-line-height-8: 2.5rem;
    --mistica-font-weight-8: 700;
    --mistica-font-size-9: 2.5rem;
    --mistica-line-height-9: 3rem;
    --mistica-font-weight-9: 700;
    --mistica-font-size-10: 3rem;
    --mistica-line-height-10: 3.5rem;
    --mistica-font-weight-10: 700;
    --mistica-font-size-cardTitle: 1.25rem;
    --mistica-line-height-cardTitle: 1.5rem;
    --mistica-font-weight-cardTitle: 700;
    --mistica-font-weight-button: 500;
    --mistica-font-size-tabsLabel: 1rem;
    --mistica-line-height-tabsLabel: 1.5rem;
    --mistica-font-weight-tabsLabel: 500;
    --mistica-font-weight-link: 500;
    --mistica-font-weight-title1: 500;
    --mistica-font-size-title2: 1.25rem;
    --mistica-line-height-title2: 1.5rem;
    --mistica-font-weight-title2: 700;
    --mistica-font-weight-indicator: 500;
    --mistica-font-weight-navigationBar: 500;
}

[data-mistica-skin='movistar'][data-mistica-color-scheme='dark'] {
    --mistica-color-background: var(--mistica-movistar-darkModeBlack);
    --mistica-color-backgroundAlternative: var(--mistica-movistar-darkModeBlack);
    --mistica-color-backgroundBrand: var(--mistica-movistar-darkModeBlack);
    --mistica-color-backgroundBrandSecondary: var(--mistica-movistar-darkModeBlack);
    --mistica-color-backgroundContainer: var(--mistica-movistar-darkModeGrey);
    --mistica-color-backgroundContainerError: var(--mistica-movistar-darkModeGrey);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-movistar-raw-white), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-movistar-raw-white), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-movistar-darkModeGrey);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-movistar-raw-white), 0.03);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-movistar-raw-white), 0.05);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-movistar-darkModeGrey);
    --mistica-color-backgroundContainerAlternative: var(--mistica-movistar-darkModeGrey);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-movistar-raw-darkModeGrey), 0.8);
    --mistica-color-backgroundSkeleton: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-backgroundBrandTop: var(--mistica-movistar-darkModeBlack);
    --mistica-color-backgroundBrandBottom: var(--mistica-movistar-darkModeBlack);
    --mistica-color-appBarBackground: var(--mistica-movistar-darkModeGrey);
    --mistica-color-navigationBarBackground: var(--mistica-movistar-darkModeBlack);
    --mistica-color-skeletonWave: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-borderLow: var(--mistica-movistar-darkModeBlack);
    --mistica-color-border: var(--mistica-movistar-darkModeGrey);
    --mistica-color-borderHigh: var(--mistica-movistar-darkModeGrey5);
    --mistica-color-borderSelected: var(--mistica-movistar-movistarBlue);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-movistar-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-movistar-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-movistar-pepper55);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-movistar-pepper70);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-movistar-pepper65);
    --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
    --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-movistar-raw-white), 0);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
    --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
    --mistica-color-buttonPrimaryBackground: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-movistar-movistarBlueHC);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-movistar-movistarBlueHC65);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-movistar-movistarBlueHC55);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-movistar-movistarBlueHC65);
    --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-movistar-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.25);
    --mistica-color-buttonSecondaryBorder: var(--mistica-movistar-white);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-movistar-white);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-movistar-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.25);
    --mistica-color-textButtonPrimary: var(--mistica-movistar-white);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-movistar-white);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-movistar-white);
    --mistica-color-textButtonSecondary: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textButtonSecondarySelected: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textLink: var(--mistica-movistar-movistarBlue);
    --mistica-color-textLinkInverse: var(--mistica-movistar-movistarBlue);
    --mistica-color-textLinkDanger: var(--mistica-movistar-pepper45);
    --mistica-color-textLinkSnackbar: var(--mistica-movistar-movistarBlue);
    --mistica-color-textActivated: var(--mistica-movistar-movistarBlue);
    --mistica-color-textBrand: var(--mistica-movistar-movistarBlue);
    --mistica-color-control: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-controlActivated: var(--mistica-movistar-movistarBlue);
    --mistica-color-controlInverse: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-controlActivatedInverse: var(--mistica-movistar-movistarBlue);
    --mistica-color-controlError: var(--mistica-movistar-pepper45);
    --mistica-color-barTrack: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-loadingBar: var(--mistica-movistar-movistarBlue);
    --mistica-color-loadingBarBackground: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-toggleAndroidInactive: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-movistar-movistarBlue20);
    --mistica-color-iosControlKnob: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-divider: rgba(var(--mistica-movistar-raw-white), 0.1);
    --mistica-color-dividerInverse: rgba(var(--mistica-movistar-raw-white), 0.1);
    --mistica-color-navigationBarDivider: var(--mistica-movistar-darkModeBlack);
    --mistica-color-badge: var(--mistica-movistar-pepper55);
    --mistica-color-feedbackErrorBackground: var(--mistica-movistar-pepper55);
    --mistica-color-feedbackInfoBackground: var(--mistica-movistar-movistarBlueDark);
    --mistica-color-brand: var(--mistica-movistar-movistarBlue);
    --mistica-color-brandHigh: var(--mistica-movistar-movistarBlue40);
    --mistica-color-inverse: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-neutralHigh: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-neutralMedium: var(--mistica-movistar-darkModeGrey5);
    --mistica-color-neutralMediumInverse: var(--mistica-movistar-grey5);
    --mistica-color-neutralLow: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-neutralLowAlternative: var(--mistica-movistar-darkModeGrey6);
    --mistica-color-textPrimary: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textPrimaryInverse: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textSecondary: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-textSecondaryInverse: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-success: var(--mistica-movistar-movistarGreen);
    --mistica-color-warning: var(--mistica-movistar-egg);
    --mistica-color-error: var(--mistica-movistar-pepper45);
    --mistica-color-textError: var(--mistica-movistar-pepper45);
    --mistica-color-textErrorInverse: var(--mistica-movistar-pepper45);
    --mistica-color-promo: var(--mistica-movistar-purple40);
    --mistica-color-highlight: var(--mistica-movistar-pink45);
    --mistica-color-successLow: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-warningLow: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-errorLow: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-promoLow: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-brandLow: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-successHigh: var(--mistica-movistar-movistarGreen40);
    --mistica-color-warningHigh: var(--mistica-movistar-egg40);
    --mistica-color-errorHigh: var(--mistica-movistar-pepper45);
    --mistica-color-promoHigh: var(--mistica-movistar-purple35);
    --mistica-color-successHighInverse: var(--mistica-movistar-movistarGreen70);
    --mistica-color-warningHighInverse: var(--mistica-movistar-egg80);
    --mistica-color-errorHighInverse: var(--mistica-movistar-pepper70);
    --mistica-color-promoHighInverse: var(--mistica-movistar-purple70);
    --mistica-color-textNavigationBarPrimary: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textNavigationBarSecondary: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-textNavigationSearchBarText: var(--mistica-movistar-darkModeGrey2);
    --mistica-color-textAppBar: var(--mistica-movistar-darkModeGrey4);
    --mistica-color-textAppBarSelected: var(--mistica-movistar-movistarBlue);
    --mistica-color-customTabsBackground: var(--mistica-movistar-darkModeBlack);
    --mistica-color-tagTextPromo: var(--mistica-movistar-purple35);
    --mistica-color-tagTextActive: var(--mistica-movistar-movistarBlue);
    --mistica-color-tagTextInactive: var(--mistica-movistar-darkModeGrey3);
    --mistica-color-tagTextSuccess: var(--mistica-movistar-movistarGreen40);
    --mistica-color-tagTextWarning: var(--mistica-movistar-egg40);
    --mistica-color-tagTextError: var(--mistica-movistar-pepper45);
    --mistica-color-tagBackgroundPromo: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-tagBackgroundActive: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-tagBackgroundInactive: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-tagBackgroundSuccess: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-tagBackgroundWarning: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-tagBackgroundError: var(--mistica-movistar-darkModeGrey7);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-movistar-raw-black), 0) 0%,
        rgba(var(--mistica-movistar-raw-black), 0.4) 30%,
        rgba(var(--mistica-movistar-raw-black), 0.7) 100%
    );
}

@media (prefers-color-scheme: dark) {
    [data-mistica-skin='movistar'] {
        --mistica-color-background: var(--mistica-movistar-darkModeBlack);
        --mistica-color-backgroundAlternative: var(--mistica-movistar-darkModeBlack);
        --mistica-color-backgroundBrand: var(--mistica-movistar-darkModeBlack);
        --mistica-color-backgroundBrandSecondary: var(--mistica-movistar-darkModeBlack);
        --mistica-color-backgroundContainer: var(--mistica-movistar-darkModeGrey);
        --mistica-color-backgroundContainerError: var(--mistica-movistar-darkModeGrey);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-movistar-raw-white), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-movistar-raw-white), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-movistar-darkModeGrey);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-movistar-raw-white), 0.03);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-movistar-raw-white), 0.05);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-movistar-darkModeGrey);
        --mistica-color-backgroundContainerAlternative: var(--mistica-movistar-darkModeGrey);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-movistar-raw-darkModeGrey), 0.8);
        --mistica-color-backgroundSkeleton: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-backgroundBrandTop: var(--mistica-movistar-darkModeBlack);
        --mistica-color-backgroundBrandBottom: var(--mistica-movistar-darkModeBlack);
        --mistica-color-appBarBackground: var(--mistica-movistar-darkModeGrey);
        --mistica-color-navigationBarBackground: var(--mistica-movistar-darkModeBlack);
        --mistica-color-skeletonWave: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-borderLow: var(--mistica-movistar-darkModeBlack);
        --mistica-color-border: var(--mistica-movistar-darkModeGrey);
        --mistica-color-borderHigh: var(--mistica-movistar-darkModeGrey5);
        --mistica-color-borderSelected: var(--mistica-movistar-movistarBlue);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-movistar-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-movistar-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-movistar-pepper55);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-movistar-pepper70);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-movistar-pepper65);
        --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
        --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-movistar-raw-white), 0);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(
            var(--mistica-movistar-raw-white),
            0.08
        );
        --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.08);
        --mistica-color-buttonPrimaryBackground: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-movistar-movistarBlueHC65);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-movistar-movistarBlueHC55);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-movistar-movistarBlueHC65);
        --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-movistar-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-movistar-raw-white), 0.25);
        --mistica-color-buttonSecondaryBorder: var(--mistica-movistar-white);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-movistar-white);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-movistar-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(
            var(--mistica-movistar-raw-white),
            0.25
        );
        --mistica-color-textButtonPrimary: var(--mistica-movistar-white);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-movistar-white);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-movistar-white);
        --mistica-color-textButtonSecondary: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textButtonSecondarySelected: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textLink: var(--mistica-movistar-movistarBlue);
        --mistica-color-textLinkInverse: var(--mistica-movistar-movistarBlue);
        --mistica-color-textLinkDanger: var(--mistica-movistar-pepper45);
        --mistica-color-textLinkSnackbar: var(--mistica-movistar-movistarBlue);
        --mistica-color-textActivated: var(--mistica-movistar-movistarBlue);
        --mistica-color-textBrand: var(--mistica-movistar-movistarBlue);
        --mistica-color-control: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-controlActivated: var(--mistica-movistar-movistarBlue);
        --mistica-color-controlInverse: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-controlActivatedInverse: var(--mistica-movistar-movistarBlue);
        --mistica-color-controlError: var(--mistica-movistar-pepper45);
        --mistica-color-barTrack: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-loadingBar: var(--mistica-movistar-movistarBlue);
        --mistica-color-loadingBarBackground: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-toggleAndroidInactive: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-movistar-movistarBlue20);
        --mistica-color-iosControlKnob: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-divider: rgba(var(--mistica-movistar-raw-white), 0.1);
        --mistica-color-dividerInverse: rgba(var(--mistica-movistar-raw-white), 0.1);
        --mistica-color-navigationBarDivider: var(--mistica-movistar-darkModeBlack);
        --mistica-color-badge: var(--mistica-movistar-pepper55);
        --mistica-color-feedbackErrorBackground: var(--mistica-movistar-pepper55);
        --mistica-color-feedbackInfoBackground: var(--mistica-movistar-movistarBlueDark);
        --mistica-color-brand: var(--mistica-movistar-movistarBlue);
        --mistica-color-brandHigh: var(--mistica-movistar-movistarBlue40);
        --mistica-color-inverse: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-neutralHigh: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-neutralMedium: var(--mistica-movistar-darkModeGrey5);
        --mistica-color-neutralMediumInverse: var(--mistica-movistar-grey5);
        --mistica-color-neutralLow: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-neutralLowAlternative: var(--mistica-movistar-darkModeGrey6);
        --mistica-color-textPrimary: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textPrimaryInverse: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textSecondary: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-textSecondaryInverse: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-success: var(--mistica-movistar-movistarGreen);
        --mistica-color-warning: var(--mistica-movistar-egg);
        --mistica-color-error: var(--mistica-movistar-pepper45);
        --mistica-color-textError: var(--mistica-movistar-pepper45);
        --mistica-color-textErrorInverse: var(--mistica-movistar-pepper45);
        --mistica-color-promo: var(--mistica-movistar-purple40);
        --mistica-color-highlight: var(--mistica-movistar-pink45);
        --mistica-color-successLow: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-warningLow: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-errorLow: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-promoLow: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-brandLow: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-successHigh: var(--mistica-movistar-movistarGreen40);
        --mistica-color-warningHigh: var(--mistica-movistar-egg40);
        --mistica-color-errorHigh: var(--mistica-movistar-pepper45);
        --mistica-color-promoHigh: var(--mistica-movistar-purple35);
        --mistica-color-successHighInverse: var(--mistica-movistar-movistarGreen70);
        --mistica-color-warningHighInverse: var(--mistica-movistar-egg80);
        --mistica-color-errorHighInverse: var(--mistica-movistar-pepper70);
        --mistica-color-promoHighInverse: var(--mistica-movistar-purple70);
        --mistica-color-textNavigationBarPrimary: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textNavigationBarSecondary: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-textNavigationSearchBarText: var(--mistica-movistar-darkModeGrey2);
        --mistica-color-textAppBar: var(--mistica-movistar-darkModeGrey4);
        --mistica-color-textAppBarSelected: var(--mistica-movistar-movistarBlue);
        --mistica-color-customTabsBackground: var(--mistica-movistar-darkModeBlack);
        --mistica-color-tagTextPromo: var(--mistica-movistar-purple35);
        --mistica-color-tagTextActive: var(--mistica-movistar-movistarBlue);
        --mistica-color-tagTextInactive: var(--mistica-movistar-darkModeGrey3);
        --mistica-color-tagTextSuccess: var(--mistica-movistar-movistarGreen40);
        --mistica-color-tagTextWarning: var(--mistica-movistar-egg40);
        --mistica-color-tagTextError: var(--mistica-movistar-pepper45);
        --mistica-color-tagBackgroundPromo: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-tagBackgroundActive: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-tagBackgroundInactive: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-tagBackgroundSuccess: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-tagBackgroundWarning: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-tagBackgroundError: var(--mistica-movistar-darkModeGrey7);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-movistar-raw-black), 0) 0%,
            rgba(var(--mistica-movistar-raw-black), 0.4) 30%,
            rgba(var(--mistica-movistar-raw-black), 0.7) 100%
        );
    }

    [data-mistica-skin='movistar'][data-mistica-color-scheme='light'] {
        --mistica-color-background: var(--mistica-movistar-white);
        --mistica-color-backgroundAlternative: var(--mistica-movistar-grey1);
        --mistica-color-backgroundBrand: var(--mistica-movistar-movistarBlue);
        --mistica-color-backgroundBrandSecondary: var(--mistica-movistar-movistarBlueDark);
        --mistica-color-backgroundContainer: var(--mistica-movistar-white);
        --mistica-color-backgroundContainerError: var(--mistica-movistar-pepper10);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-movistar-raw-black), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-movistar-raw-black), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-movistar-movistarBlue);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-movistar-raw-black), 0.1);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-movistar-raw-black), 0.2);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-movistar-movistarBlue55);
        --mistica-color-backgroundContainerAlternative: var(--mistica-movistar-grey1);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-movistar-raw-movistarBlueDark), 0.6);
        --mistica-color-backgroundSkeleton: var(--mistica-movistar-grey2);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-movistar-movistarBlue55);
        --mistica-color-backgroundBrandTop: var(--mistica-movistar-movistarBlue);
        --mistica-color-backgroundBrandBottom: var(--mistica-movistar-movistarBlue);
        --mistica-color-appBarBackground: var(--mistica-movistar-white);
        --mistica-color-navigationBarBackground: var(--mistica-movistar-movistarBlue);
        --mistica-color-skeletonWave: var(--mistica-movistar-grey2);
        --mistica-color-borderLow: var(--mistica-movistar-grey1);
        --mistica-color-border: var(--mistica-movistar-grey3);
        --mistica-color-borderHigh: var(--mistica-movistar-grey5);
        --mistica-color-borderSelected: var(--mistica-movistar-movistarBlue);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-movistar-raw-black), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-movistar-raw-black), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-movistar-pepper55);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-movistar-pepper70);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-movistar-pepper65);
        --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-movistar-pepper10);
        --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-movistar-white);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-movistar-pepper10);
        --mistica-color-buttonLinkBackgroundSelected: var(--mistica-movistar-movistarBlue10);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-movistar-raw-white), 0.2);
        --mistica-color-buttonPrimaryBackground: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-movistar-white);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-movistar-movistarBlueHC65);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-movistar-movistarBlueHC55);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-movistar-movistarBlue10);
        --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-movistar-movistarBlue10);
        --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-movistar-movistarBlue15);
        --mistica-color-buttonSecondaryBorder: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-movistar-movistarBlueHC65);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-movistar-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-movistar-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-movistar-raw-white), 0.2);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(
            var(--mistica-movistar-raw-white),
            0.3
        );
        --mistica-color-textButtonPrimary: var(--mistica-movistar-white);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-textButtonSecondary: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-textButtonSecondarySelected: var(--mistica-movistar-movistarBlueHC55);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-movistar-white);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-movistar-white);
        --mistica-color-textLink: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-textLinkInverse: var(--mistica-movistar-white);
        --mistica-color-textLinkDanger: var(--mistica-movistar-pepper60);
        --mistica-color-textLinkSnackbar: var(--mistica-movistar-movistarBlue30);
        --mistica-color-textActivated: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-textBrand: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-control: var(--mistica-movistar-grey4);
        --mistica-color-controlActivated: var(--mistica-movistar-movistarBlue);
        --mistica-color-controlInverse: var(--mistica-movistar-movistarBlue20);
        --mistica-color-controlActivatedInverse: var(--mistica-movistar-white);
        --mistica-color-controlError: var(--mistica-movistar-pepper55);
        --mistica-color-barTrack: var(--mistica-movistar-grey3);
        --mistica-color-loadingBar: var(--mistica-movistar-movistarBlue);
        --mistica-color-loadingBarBackground: var(--mistica-movistar-grey2);
        --mistica-color-toggleAndroidInactive: var(--mistica-movistar-grey2);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-movistar-movistarBlue20);
        --mistica-color-iosControlKnob: var(--mistica-movistar-white);
        --mistica-color-divider: var(--mistica-movistar-grey3);
        --mistica-color-dividerInverse: rgba(var(--mistica-movistar-raw-white), 0.2);
        --mistica-color-navigationBarDivider: var(--mistica-movistar-movistarBlue);
        --mistica-color-badge: var(--mistica-movistar-pepper55);
        --mistica-color-feedbackErrorBackground: var(--mistica-movistar-pepper55);
        --mistica-color-feedbackInfoBackground: var(--mistica-movistar-movistarBlueDark);
        --mistica-color-brand: var(--mistica-movistar-movistarBlue);
        --mistica-color-brandHigh: var(--mistica-movistar-movistarBlue55);
        --mistica-color-inverse: var(--mistica-movistar-white);
        --mistica-color-neutralHigh: var(--mistica-movistar-movistarBlueDark);
        --mistica-color-neutralMedium: var(--mistica-movistar-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-movistar-grey5);
        --mistica-color-neutralLow: var(--mistica-movistar-grey1);
        --mistica-color-neutralLowAlternative: var(--mistica-movistar-grey2);
        --mistica-color-textPrimary: var(--mistica-movistar-movistarBlueDark);
        --mistica-color-textPrimaryInverse: var(--mistica-movistar-white);
        --mistica-color-textSecondary: var(--mistica-movistar-grey5);
        --mistica-color-textSecondaryInverse: var(--mistica-movistar-movistarBlue10);
        --mistica-color-success: var(--mistica-movistar-movistarGreen55);
        --mistica-color-warning: var(--mistica-movistar-egg55);
        --mistica-color-error: var(--mistica-movistar-pepper55);
        --mistica-color-textError: var(--mistica-movistar-pepper55);
        --mistica-color-textErrorInverse: var(--mistica-movistar-white);
        --mistica-color-promo: var(--mistica-movistar-purple);
        --mistica-color-highlight: var(--mistica-movistar-pink55);
        --mistica-color-successLow: var(--mistica-movistar-movistarGreen10);
        --mistica-color-warningLow: var(--mistica-movistar-egg10);
        --mistica-color-errorLow: var(--mistica-movistar-pepper10);
        --mistica-color-promoLow: var(--mistica-movistar-purple10);
        --mistica-color-brandLow: var(--mistica-movistar-movistarBlue10);
        --mistica-color-successHigh: var(--mistica-movistar-movistarGreen70);
        --mistica-color-warningHigh: var(--mistica-movistar-egg80);
        --mistica-color-errorHigh: var(--mistica-movistar-pepper70);
        --mistica-color-promoHigh: var(--mistica-movistar-purple70);
        --mistica-color-successHighInverse: var(--mistica-movistar-movistarGreen70);
        --mistica-color-warningHighInverse: var(--mistica-movistar-egg80);
        --mistica-color-errorHighInverse: var(--mistica-movistar-pepper70);
        --mistica-color-promoHighInverse: var(--mistica-movistar-purple70);
        --mistica-color-textNavigationBarPrimary: var(--mistica-movistar-white);
        --mistica-color-textNavigationBarSecondary: var(--mistica-movistar-movistarBlue20);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-movistar-movistarBlue20);
        --mistica-color-textNavigationSearchBarText: var(--mistica-movistar-white);
        --mistica-color-textAppBar: var(--mistica-movistar-grey5);
        --mistica-color-textAppBarSelected: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-customTabsBackground: var(--mistica-movistar-white);
        --mistica-color-tagTextPromo: var(--mistica-movistar-purple70);
        --mistica-color-tagTextActive: var(--mistica-movistar-movistarBlueHC);
        --mistica-color-tagTextInactive: var(--mistica-movistar-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-movistar-movistarGreen70);
        --mistica-color-tagTextWarning: var(--mistica-movistar-egg80);
        --mistica-color-tagTextError: var(--mistica-movistar-pepper70);
        --mistica-color-tagBackgroundPromo: var(--mistica-movistar-purple10);
        --mistica-color-tagBackgroundActive: var(--mistica-movistar-movistarBlue10);
        --mistica-color-tagBackgroundInactive: var(--mistica-movistar-grey1);
        --mistica-color-tagBackgroundSuccess: var(--mistica-movistar-movistarGreen10);
        --mistica-color-tagBackgroundWarning: var(--mistica-movistar-egg10);
        --mistica-color-tagBackgroundError: var(--mistica-movistar-pepper10);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-movistar-raw-black), 0) 0%,
            rgba(var(--mistica-movistar-raw-black), 0.4) 30%,
            rgba(var(--mistica-movistar-raw-black), 0.7) 100%
        );
    }
}

@media (min-width: 1024px) {
    [data-mistica-skin='movistar'] {
        /* Text */
        --mistica-font-size-1: 0.875rem;
        --mistica-line-height-1: 1.25rem;
        --mistica-font-size-2: 1rem;
        --mistica-line-height-2: 1.5rem;
        --mistica-font-size-3: 1.125rem;
        --mistica-line-height-3: 1.5rem;
        --mistica-font-size-4: 1.25rem;
        --mistica-line-height-4: 1.75rem;
        --mistica-font-size-5: 1.75rem;
        --mistica-line-height-5: 2rem;
        --mistica-font-size-6: 2rem;
        --mistica-line-height-6: 2.5rem;
        --mistica-font-size-7: 2.5rem;
        --mistica-line-height-7: 3rem;
        --mistica-font-size-8: 3rem;
        --mistica-line-height-8: 3.5rem;
        --mistica-font-size-9: 3.5rem;
        --mistica-line-height-9: 4rem;
        --mistica-font-size-10: 4rem;
        --mistica-line-height-10: 4.5rem;
        --mistica-font-size-cardTitle: 1.5rem;
        --mistica-line-height-cardTitle: 1.75rem;

        --mistica-font-size-tabsLabel: 1.125rem;
        --mistica-line-height-tabsLabel: 1.5rem;

        --mistica-font-size-title2: 1.75rem;
        --mistica-line-height-title2: 2rem;
    }
}
