[data-mistica-skin='tu'] {
    /* Palette colors */
    --mistica-tu-white: #ffffff;
    --mistica-tu-red10: #faedeb;
    --mistica-tu-primary: #2b3447;
    --mistica-tu-primary80: #161a24;
    --mistica-tu-grey1: #f2f4ff;
    --mistica-tu-blue: #4343ff;
    --mistica-tu-grey2: #d1d5e4;
    --mistica-tu-primary65: #202735;
    --mistica-tu-grey5: #6e7894;
    --mistica-tu-red: #cb4d3a;
    --mistica-tu-red55: #bb4736;
    --mistica-tu-blue10: #ececff;
    --mistica-tu-primary45: #555d6c;
    --mistica-tu-blue70: #3232b9;
    --mistica-tu-green40: #a1dfcf;
    --mistica-tu-green: #00d19d;
    --mistica-tu-primary15: #d5d6da;
    --mistica-tu-grey9: #031a34;
    --mistica-tu-grey6: #58617a;
    --mistica-tu-grey3: #b0b6ca;
    --mistica-tu-orange: #efe384;
    --mistica-tu-red40: #db8275;
    --mistica-tu-green10: #e5faf5;
    --mistica-tu-orange20: #faf7da;
    --mistica-tu-green75: #007d5e;
    --mistica-tu-orange70: #958946;
    --mistica-tu-red70: #8e3629;
    --mistica-tu-darkModeBlack: #161a24;
    --mistica-tu-darkModeGrey: #202735;
    --mistica-tu-darkModeGrey6: #2b3447;
    --mistica-tu-blue30: #a1a1ff;
    --mistica-tu-red80: #5b231a;
    --mistica-tu-grey4: #8f97af;
    --mistica-tu-blue20: #c7c7ff;
    --mistica-tu-orange55: #d5c77d;

    /* Raw palette colors, for use with rgba() */
    --mistica-tu-raw-grey9: 3, 26, 52;
    --mistica-tu-raw-primary: 43, 52, 71;
    --mistica-tu-raw-white: 255, 255, 255;
    --mistica-tu-raw-black: 0, 0, 0;
    --mistica-tu-raw-darkModeGrey: 32, 39, 53;
    --mistica-tu-raw-darkModeBlack: 22, 26, 36;
    --mistica-tu-raw-grey2: 209, 213, 228;

    /* Colors */
    --mistica-color-appBarBackground: var(--mistica-tu-white);
    --mistica-color-background: var(--mistica-tu-white);
    --mistica-color-backgroundContainer: var(--mistica-tu-white);
    --mistica-color-backgroundContainerError: var(--mistica-tu-red10);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-tu-raw-grey9), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-tu-raw-grey9), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-tu-primary);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-tu-raw-grey9), 0.2);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-tu-raw-grey9), 0.4);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-tu-primary80);
    --mistica-color-backgroundContainerAlternative: var(--mistica-tu-grey1);
    --mistica-color-backgroundBrand: var(--mistica-tu-primary);
    --mistica-color-backgroundBrandSecondary: var(--mistica-tu-blue);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-tu-raw-primary), 0.8);
    --mistica-color-backgroundSkeleton: var(--mistica-tu-grey2);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-tu-primary65);
    --mistica-color-navigationBarBackground: var(--mistica-tu-primary);
    --mistica-color-backgroundAlternative: var(--mistica-tu-grey1);
    --mistica-color-backgroundBrandTop: var(--mistica-tu-primary);
    --mistica-color-backgroundBrandBottom: var(--mistica-tu-primary);
    --mistica-color-skeletonWave: var(--mistica-tu-grey2);
    --mistica-color-borderLow: var(--mistica-tu-grey1);
    --mistica-color-border: var(--mistica-tu-grey2);
    --mistica-color-borderHigh: var(--mistica-tu-grey5);
    --mistica-color-borderSelected: var(--mistica-tu-blue);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-tu-raw-grey9), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-tu-raw-grey9), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-tu-red);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-tu-red55);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-tu-red55);
    --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-tu-red10);
    --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-tu-white);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-tu-red10);
    --mistica-color-buttonLinkBackgroundSelected: var(--mistica-tu-blue10);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.08);
    --mistica-color-buttonPrimaryBackground: var(--mistica-tu-primary);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-tu-white);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-tu-primary45);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-tu-primary45);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.8);
    --mistica-color-buttonSecondaryBorder: var(--mistica-tu-blue);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-tu-blue70);
    --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-tu-blue10);
    --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-tu-blue10);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-tu-white);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-tu-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-tu-raw-white), 0.1);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.1);
    --mistica-color-textButtonPrimary: var(--mistica-tu-white);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-tu-primary);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-tu-primary);
    --mistica-color-textButtonSecondary: var(--mistica-tu-blue);
    --mistica-color-textButtonSecondarySelected: var(--mistica-tu-blue70);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-tu-white);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-tu-white);
    --mistica-color-textLink: var(--mistica-tu-blue);
    --mistica-color-textLinkInverse: var(--mistica-tu-white);
    --mistica-color-textLinkDanger: var(--mistica-tu-red);
    --mistica-color-textLinkSnackbar: var(--mistica-tu-white);
    --mistica-color-textActivated: var(--mistica-tu-primary);
    --mistica-color-textBrand: var(--mistica-tu-blue);
    --mistica-color-control: var(--mistica-tu-grey5);
    --mistica-color-controlActivated: var(--mistica-tu-primary);
    --mistica-color-controlInverse: var(--mistica-tu-white);
    --mistica-color-controlActivatedInverse: var(--mistica-tu-white);
    --mistica-color-controlError: var(--mistica-tu-red);
    --mistica-color-barTrack: var(--mistica-tu-grey2);
    --mistica-color-loadingBar: var(--mistica-tu-green40);
    --mistica-color-loadingBarBackground: var(--mistica-tu-green);
    --mistica-color-toggleAndroidInactive: var(--mistica-tu-grey2);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-tu-primary15);
    --mistica-color-iosControlKnob: var(--mistica-tu-white);
    --mistica-color-divider: var(--mistica-tu-grey2);
    --mistica-color-dividerInverse: rgba(var(--mistica-tu-raw-white), 0.2);
    --mistica-color-navigationBarDivider: var(--mistica-tu-primary);
    --mistica-color-badge: var(--mistica-tu-blue);
    --mistica-color-feedbackErrorBackground: var(--mistica-tu-red);
    --mistica-color-feedbackInfoBackground: var(--mistica-tu-primary);
    --mistica-color-brand: var(--mistica-tu-blue);
    --mistica-color-brandHigh: var(--mistica-tu-blue70);
    --mistica-color-inverse: var(--mistica-tu-white);
    --mistica-color-neutralHigh: var(--mistica-tu-grey9);
    --mistica-color-neutralMedium: var(--mistica-tu-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-tu-grey5);
    --mistica-color-neutralLow: var(--mistica-tu-grey1);
    --mistica-color-neutralLowAlternative: var(--mistica-tu-grey2);
    --mistica-color-textPrimary: var(--mistica-tu-grey9);
    --mistica-color-textPrimaryInverse: var(--mistica-tu-white);
    --mistica-color-textSecondary: var(--mistica-tu-grey6);
    --mistica-color-textSecondaryInverse: var(--mistica-tu-grey3);
    --mistica-color-error: var(--mistica-tu-red);
    --mistica-color-textError: var(--mistica-tu-red);
    --mistica-color-textErrorInverse: var(--mistica-tu-white);
    --mistica-color-success: var(--mistica-tu-green);
    --mistica-color-warning: var(--mistica-tu-orange);
    --mistica-color-promo: var(--mistica-tu-blue);
    --mistica-color-highlight: var(--mistica-tu-red40);
    --mistica-color-successLow: var(--mistica-tu-green10);
    --mistica-color-warningLow: var(--mistica-tu-orange20);
    --mistica-color-errorLow: var(--mistica-tu-red10);
    --mistica-color-promoLow: var(--mistica-tu-blue10);
    --mistica-color-brandLow: var(--mistica-tu-blue10);
    --mistica-color-successHigh: var(--mistica-tu-green75);
    --mistica-color-warningHigh: var(--mistica-tu-orange70);
    --mistica-color-errorHigh: var(--mistica-tu-red70);
    --mistica-color-promoHigh: var(--mistica-tu-blue);
    --mistica-color-successHighInverse: var(--mistica-tu-green75);
    --mistica-color-warningHighInverse: var(--mistica-tu-orange70);
    --mistica-color-errorHighInverse: var(--mistica-tu-red70);
    --mistica-color-promoHighInverse: var(--mistica-tu-blue);
    --mistica-color-textNavigationBarPrimary: var(--mistica-tu-white);
    --mistica-color-textNavigationBarSecondary: var(--mistica-tu-grey1);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-tu-grey1);
    --mistica-color-textNavigationSearchBarText: var(--mistica-tu-white);
    --mistica-color-textAppBar: var(--mistica-tu-grey6);
    --mistica-color-textAppBarSelected: var(--mistica-tu-primary);
    --mistica-color-customTabsBackground: var(--mistica-tu-white);
    --mistica-color-tagTextPromo: var(--mistica-tu-blue);
    --mistica-color-tagTextActive: var(--mistica-tu-blue);
    --mistica-color-tagTextInactive: var(--mistica-tu-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-tu-green75);
    --mistica-color-tagTextWarning: var(--mistica-tu-orange70);
    --mistica-color-tagTextError: var(--mistica-tu-red70);
    --mistica-color-tagBackgroundPromo: var(--mistica-tu-blue10);
    --mistica-color-tagBackgroundActive: var(--mistica-tu-blue10);
    --mistica-color-tagBackgroundInactive: var(--mistica-tu-grey1);
    --mistica-color-tagBackgroundSuccess: var(--mistica-tu-green10);
    --mistica-color-tagBackgroundWarning: var(--mistica-tu-orange20);
    --mistica-color-tagBackgroundError: var(--mistica-tu-red10);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-tu-raw-black), 0) 0%,
        rgba(var(--mistica-tu-raw-black), 0.4) 30%,
        rgba(var(--mistica-tu-raw-black), 0.7) 100%
    );

    /* Border radius */
    --mistica-border-radius-avatar: 50%;
    --mistica-border-radius-bar: 999px;
    --mistica-border-radius-button: 999px;
    --mistica-border-radius-checkbox: 2px;
    --mistica-border-radius-container: 16px;
    --mistica-border-radius-indicator: 999px;
    --mistica-border-radius-input: 12px;
    --mistica-border-radius-legacyDisplay: 16px;
    --mistica-border-radius-popup: 8px;
    --mistica-border-radius-sheet: 16px;
    --mistica-border-radius-mediaSmall: 8px;

    /* Text */
    --mistica-font-size-1: 0.75rem;
    --mistica-line-height-1: 1rem;
    --mistica-font-size-2: 0.875rem;
    --mistica-line-height-2: 1.25rem;
    --mistica-font-size-3: 1rem;
    --mistica-line-height-3: 1.5rem;
    --mistica-font-size-4: 1.125rem;
    --mistica-line-height-4: 1.5rem;
    --mistica-font-size-5: 1.25rem;
    --mistica-line-height-5: 1.5rem;
    --mistica-font-weight-5: 500;
    --mistica-font-size-6: 1.5rem;
    --mistica-line-height-6: 2rem;
    --mistica-font-weight-6: 500;
    --mistica-font-size-7: 1.75rem;
    --mistica-line-height-7: 2rem;
    --mistica-font-weight-7: 500;
    --mistica-font-size-8: 2rem;
    --mistica-line-height-8: 2.5rem;
    --mistica-font-weight-8: 500;
    --mistica-font-size-9: 2.5rem;
    --mistica-line-height-9: 3rem;
    --mistica-font-weight-9: 500;
    --mistica-font-size-10: 3rem;
    --mistica-line-height-10: 3.5rem;
    --mistica-font-weight-10: 500;
    --mistica-font-size-cardTitle: 1.25rem;
    --mistica-line-height-cardTitle: 1.5rem;
    --mistica-font-weight-cardTitle: 500;
    --mistica-font-weight-button: 500;
    --mistica-font-size-tabsLabel: 1rem;
    --mistica-line-height-tabsLabel: 1.5rem;
    --mistica-font-weight-tabsLabel: 500;
    --mistica-font-weight-link: 500;
    --mistica-font-weight-title1: 500;
    --mistica-font-size-title2: 1.25rem;
    --mistica-line-height-title2: 1.5rem;
    --mistica-font-weight-title2: 500;
    --mistica-font-weight-indicator: 500;
    --mistica-font-weight-navigationBar: 500;
}

[data-mistica-skin='tu'][data-mistica-color-scheme='dark'] {
    --mistica-color-background: var(--mistica-tu-darkModeBlack);
    --mistica-color-backgroundAlternative: var(--mistica-tu-darkModeBlack);
    --mistica-color-backgroundBrand: var(--mistica-tu-darkModeBlack);
    --mistica-color-backgroundBrandSecondary: var(--mistica-tu-darkModeBlack);
    --mistica-color-backgroundContainer: var(--mistica-tu-darkModeGrey);
    --mistica-color-backgroundContainerError: var(--mistica-tu-darkModeGrey);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-tu-raw-white), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-tu-raw-white), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-tu-darkModeGrey);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-tu-raw-white), 0.03);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-tu-raw-white), 0.05);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-tu-darkModeGrey);
    --mistica-color-backgroundContainerAlternative: var(--mistica-tu-darkModeGrey);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-tu-raw-darkModeGrey), 0.8);
    --mistica-color-backgroundSkeleton: var(--mistica-tu-darkModeGrey6);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-tu-darkModeGrey6);
    --mistica-color-backgroundBrandTop: var(--mistica-tu-darkModeBlack);
    --mistica-color-backgroundBrandBottom: var(--mistica-tu-darkModeBlack);
    --mistica-color-appBarBackground: var(--mistica-tu-darkModeGrey);
    --mistica-color-navigationBarBackground: var(--mistica-tu-darkModeBlack);
    --mistica-color-skeletonWave: var(--mistica-tu-grey5);
    --mistica-color-borderLow: var(--mistica-tu-darkModeBlack);
    --mistica-color-border: var(--mistica-tu-darkModeGrey);
    --mistica-color-borderHigh: var(--mistica-tu-grey5);
    --mistica-color-borderSelected: var(--mistica-tu-blue30);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-tu-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-tu-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-tu-red);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-tu-red80);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-tu-red80);
    --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-tu-red10);
    --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-tu-raw-white), 0);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-tu-red10);
    --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-tu-raw-white), 0.08);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.08);
    --mistica-color-buttonPrimaryBackground: var(--mistica-tu-grey2);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-tu-grey2);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-tu-grey3);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-tu-grey3);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-tu-grey3);
    --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-tu-raw-grey2), 0.15);
    --mistica-color-buttonSecondaryBorder: var(--mistica-tu-grey2);
    --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-tu-raw-grey2), 0.15);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-tu-grey2);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-tu-grey2);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-tu-grey2);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-tu-raw-grey2), 0.15);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-grey2), 0.15);
    --mistica-color-textButtonPrimary: var(--mistica-tu-primary);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-tu-primary);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-tu-primary);
    --mistica-color-textButtonSecondary: var(--mistica-tu-grey2);
    --mistica-color-textButtonSecondarySelected: var(--mistica-tu-grey2);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-tu-grey2);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-tu-grey2);
    --mistica-color-textLink: var(--mistica-tu-blue30);
    --mistica-color-textLinkInverse: var(--mistica-tu-blue30);
    --mistica-color-textLinkDanger: var(--mistica-tu-red);
    --mistica-color-textLinkSnackbar: var(--mistica-tu-blue30);
    --mistica-color-textActivated: var(--mistica-tu-blue30);
    --mistica-color-textBrand: var(--mistica-tu-blue30);
    --mistica-color-control: var(--mistica-tu-darkModeGrey6);
    --mistica-color-controlActivated: var(--mistica-tu-blue30);
    --mistica-color-controlInverse: var(--mistica-tu-darkModeGrey6);
    --mistica-color-controlActivatedInverse: var(--mistica-tu-blue30);
    --mistica-color-controlError: var(--mistica-tu-red);
    --mistica-color-barTrack: var(--mistica-tu-darkModeGrey6);
    --mistica-color-loadingBar: var(--mistica-tu-green40);
    --mistica-color-loadingBarBackground: var(--mistica-tu-green);
    --mistica-color-toggleAndroidInactive: var(--mistica-tu-grey4);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-tu-blue20);
    --mistica-color-iosControlKnob: var(--mistica-tu-grey2);
    --mistica-color-divider: rgba(var(--mistica-tu-raw-white), 0.05);
    --mistica-color-dividerInverse: rgba(var(--mistica-tu-raw-white), 0.05);
    --mistica-color-navigationBarDivider: var(--mistica-tu-darkModeBlack);
    --mistica-color-badge: var(--mistica-tu-blue30);
    --mistica-color-feedbackErrorBackground: var(--mistica-tu-red);
    --mistica-color-feedbackInfoBackground: var(--mistica-tu-darkModeGrey);
    --mistica-color-brand: var(--mistica-tu-blue30);
    --mistica-color-brandHigh: rgba(var(--mistica-tu-raw-white), 0.05);
    --mistica-color-inverse: var(--mistica-tu-grey2);
    --mistica-color-neutralHigh: var(--mistica-tu-grey2);
    --mistica-color-neutralMedium: var(--mistica-tu-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-tu-grey5);
    --mistica-color-neutralLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-neutralLowAlternative: var(--mistica-tu-darkModeGrey6);
    --mistica-color-textPrimary: var(--mistica-tu-grey2);
    --mistica-color-textPrimaryInverse: var(--mistica-tu-grey2);
    --mistica-color-textSecondary: var(--mistica-tu-grey4);
    --mistica-color-textSecondaryInverse: var(--mistica-tu-grey4);
    --mistica-color-error: var(--mistica-tu-red);
    --mistica-color-textError: var(--mistica-tu-red);
    --mistica-color-textErrorInverse: var(--mistica-tu-red);
    --mistica-color-success: var(--mistica-tu-green);
    --mistica-color-warning: var(--mistica-tu-orange);
    --mistica-color-promo: var(--mistica-tu-blue);
    --mistica-color-highlight: var(--mistica-tu-red40);
    --mistica-color-successLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-warningLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-errorLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-promoLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-brandLow: var(--mistica-tu-darkModeGrey6);
    --mistica-color-successHigh: var(--mistica-tu-green40);
    --mistica-color-warningHigh: var(--mistica-tu-orange55);
    --mistica-color-errorHigh: var(--mistica-tu-red40);
    --mistica-color-promoHigh: var(--mistica-tu-blue30);
    --mistica-color-successHighInverse: var(--mistica-tu-green75);
    --mistica-color-warningHighInverse: var(--mistica-tu-orange70);
    --mistica-color-errorHighInverse: var(--mistica-tu-red70);
    --mistica-color-promoHighInverse: var(--mistica-tu-blue70);
    --mistica-color-textNavigationBarPrimary: var(--mistica-tu-grey2);
    --mistica-color-textNavigationBarSecondary: var(--mistica-tu-grey4);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-tu-grey4);
    --mistica-color-textNavigationSearchBarText: var(--mistica-tu-grey2);
    --mistica-color-textAppBar: var(--mistica-tu-grey5);
    --mistica-color-textAppBarSelected: var(--mistica-tu-grey2);
    --mistica-color-customTabsBackground: var(--mistica-tu-darkModeBlack);
    --mistica-color-tagTextPromo: var(--mistica-tu-blue30);
    --mistica-color-tagTextActive: var(--mistica-tu-blue30);
    --mistica-color-tagTextInactive: var(--mistica-tu-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-tu-green40);
    --mistica-color-tagTextWarning: var(--mistica-tu-orange55);
    --mistica-color-tagTextError: var(--mistica-tu-red40);
    --mistica-color-tagBackgroundPromo: var(--mistica-tu-darkModeGrey6);
    --mistica-color-tagBackgroundActive: var(--mistica-tu-darkModeGrey6);
    --mistica-color-tagBackgroundInactive: var(--mistica-tu-darkModeGrey6);
    --mistica-color-tagBackgroundSuccess: var(--mistica-tu-darkModeGrey6);
    --mistica-color-tagBackgroundWarning: var(--mistica-tu-darkModeGrey6);
    --mistica-color-tagBackgroundError: var(--mistica-tu-darkModeGrey6);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-tu-raw-black), 0) 0%,
        rgba(var(--mistica-tu-raw-black), 0.4) 30%,
        rgba(var(--mistica-tu-raw-black), 0.7) 100%
    );
}

@media (prefers-color-scheme: dark) {
    [data-mistica-skin='tu'] {
        --mistica-color-background: var(--mistica-tu-darkModeBlack);
        --mistica-color-backgroundAlternative: var(--mistica-tu-darkModeBlack);
        --mistica-color-backgroundBrand: var(--mistica-tu-darkModeBlack);
        --mistica-color-backgroundBrandSecondary: var(--mistica-tu-darkModeBlack);
        --mistica-color-backgroundContainer: var(--mistica-tu-darkModeGrey);
        --mistica-color-backgroundContainerError: var(--mistica-tu-darkModeGrey);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-tu-raw-white), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-tu-raw-white), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-tu-darkModeGrey);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-tu-raw-white), 0.03);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-tu-raw-white), 0.05);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-tu-darkModeGrey);
        --mistica-color-backgroundContainerAlternative: var(--mistica-tu-darkModeGrey);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-tu-raw-darkModeGrey), 0.8);
        --mistica-color-backgroundSkeleton: var(--mistica-tu-darkModeGrey6);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-tu-darkModeGrey6);
        --mistica-color-backgroundBrandTop: var(--mistica-tu-darkModeBlack);
        --mistica-color-backgroundBrandBottom: var(--mistica-tu-darkModeBlack);
        --mistica-color-appBarBackground: var(--mistica-tu-darkModeGrey);
        --mistica-color-navigationBarBackground: var(--mistica-tu-darkModeBlack);
        --mistica-color-skeletonWave: var(--mistica-tu-grey5);
        --mistica-color-borderLow: var(--mistica-tu-darkModeBlack);
        --mistica-color-border: var(--mistica-tu-darkModeGrey);
        --mistica-color-borderHigh: var(--mistica-tu-grey5);
        --mistica-color-borderSelected: var(--mistica-tu-blue30);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-tu-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-tu-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-tu-red);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-tu-red80);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-tu-red80);
        --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-tu-red10);
        --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-tu-raw-white), 0);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-tu-red10);
        --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-tu-raw-white), 0.08);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.08);
        --mistica-color-buttonPrimaryBackground: var(--mistica-tu-grey2);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-tu-grey2);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-tu-grey3);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-tu-grey3);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-tu-grey3);
        --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-tu-raw-grey2), 0.15);
        --mistica-color-buttonSecondaryBorder: var(--mistica-tu-grey2);
        --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-tu-raw-grey2), 0.15);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-tu-grey2);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-tu-grey2);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-tu-grey2);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-tu-raw-grey2), 0.15);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-grey2), 0.15);
        --mistica-color-textButtonPrimary: var(--mistica-tu-primary);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-tu-primary);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-tu-primary);
        --mistica-color-textButtonSecondary: var(--mistica-tu-grey2);
        --mistica-color-textButtonSecondarySelected: var(--mistica-tu-grey2);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-tu-grey2);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-tu-grey2);
        --mistica-color-textLink: var(--mistica-tu-blue30);
        --mistica-color-textLinkInverse: var(--mistica-tu-blue30);
        --mistica-color-textLinkDanger: var(--mistica-tu-red);
        --mistica-color-textLinkSnackbar: var(--mistica-tu-blue30);
        --mistica-color-textActivated: var(--mistica-tu-blue30);
        --mistica-color-textBrand: var(--mistica-tu-blue30);
        --mistica-color-control: var(--mistica-tu-darkModeGrey6);
        --mistica-color-controlActivated: var(--mistica-tu-blue30);
        --mistica-color-controlInverse: var(--mistica-tu-darkModeGrey6);
        --mistica-color-controlActivatedInverse: var(--mistica-tu-blue30);
        --mistica-color-controlError: var(--mistica-tu-red);
        --mistica-color-barTrack: var(--mistica-tu-darkModeGrey6);
        --mistica-color-loadingBar: var(--mistica-tu-green40);
        --mistica-color-loadingBarBackground: var(--mistica-tu-green);
        --mistica-color-toggleAndroidInactive: var(--mistica-tu-grey4);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-tu-blue20);
        --mistica-color-iosControlKnob: var(--mistica-tu-grey2);
        --mistica-color-divider: rgba(var(--mistica-tu-raw-white), 0.05);
        --mistica-color-dividerInverse: rgba(var(--mistica-tu-raw-white), 0.05);
        --mistica-color-navigationBarDivider: var(--mistica-tu-darkModeBlack);
        --mistica-color-badge: var(--mistica-tu-blue30);
        --mistica-color-feedbackErrorBackground: var(--mistica-tu-red);
        --mistica-color-feedbackInfoBackground: var(--mistica-tu-darkModeGrey);
        --mistica-color-brand: var(--mistica-tu-blue30);
        --mistica-color-brandHigh: rgba(var(--mistica-tu-raw-white), 0.05);
        --mistica-color-inverse: var(--mistica-tu-grey2);
        --mistica-color-neutralHigh: var(--mistica-tu-grey2);
        --mistica-color-neutralMedium: var(--mistica-tu-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-tu-grey5);
        --mistica-color-neutralLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-neutralLowAlternative: var(--mistica-tu-darkModeGrey6);
        --mistica-color-textPrimary: var(--mistica-tu-grey2);
        --mistica-color-textPrimaryInverse: var(--mistica-tu-grey2);
        --mistica-color-textSecondary: var(--mistica-tu-grey4);
        --mistica-color-textSecondaryInverse: var(--mistica-tu-grey4);
        --mistica-color-error: var(--mistica-tu-red);
        --mistica-color-textError: var(--mistica-tu-red);
        --mistica-color-textErrorInverse: var(--mistica-tu-red);
        --mistica-color-success: var(--mistica-tu-green);
        --mistica-color-warning: var(--mistica-tu-orange);
        --mistica-color-promo: var(--mistica-tu-blue);
        --mistica-color-highlight: var(--mistica-tu-red40);
        --mistica-color-successLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-warningLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-errorLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-promoLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-brandLow: var(--mistica-tu-darkModeGrey6);
        --mistica-color-successHigh: var(--mistica-tu-green40);
        --mistica-color-warningHigh: var(--mistica-tu-orange55);
        --mistica-color-errorHigh: var(--mistica-tu-red40);
        --mistica-color-promoHigh: var(--mistica-tu-blue30);
        --mistica-color-successHighInverse: var(--mistica-tu-green75);
        --mistica-color-warningHighInverse: var(--mistica-tu-orange70);
        --mistica-color-errorHighInverse: var(--mistica-tu-red70);
        --mistica-color-promoHighInverse: var(--mistica-tu-blue70);
        --mistica-color-textNavigationBarPrimary: var(--mistica-tu-grey2);
        --mistica-color-textNavigationBarSecondary: var(--mistica-tu-grey4);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-tu-grey4);
        --mistica-color-textNavigationSearchBarText: var(--mistica-tu-grey2);
        --mistica-color-textAppBar: var(--mistica-tu-grey5);
        --mistica-color-textAppBarSelected: var(--mistica-tu-grey2);
        --mistica-color-customTabsBackground: var(--mistica-tu-darkModeBlack);
        --mistica-color-tagTextPromo: var(--mistica-tu-blue30);
        --mistica-color-tagTextActive: var(--mistica-tu-blue30);
        --mistica-color-tagTextInactive: var(--mistica-tu-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-tu-green40);
        --mistica-color-tagTextWarning: var(--mistica-tu-orange55);
        --mistica-color-tagTextError: var(--mistica-tu-red40);
        --mistica-color-tagBackgroundPromo: var(--mistica-tu-darkModeGrey6);
        --mistica-color-tagBackgroundActive: var(--mistica-tu-darkModeGrey6);
        --mistica-color-tagBackgroundInactive: var(--mistica-tu-darkModeGrey6);
        --mistica-color-tagBackgroundSuccess: var(--mistica-tu-darkModeGrey6);
        --mistica-color-tagBackgroundWarning: var(--mistica-tu-darkModeGrey6);
        --mistica-color-tagBackgroundError: var(--mistica-tu-darkModeGrey6);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-tu-raw-black), 0) 0%,
            rgba(var(--mistica-tu-raw-black), 0.4) 30%,
            rgba(var(--mistica-tu-raw-black), 0.7) 100%
        );
    }

    [data-mistica-skin='tu'][data-mistica-color-scheme='light'] {
        --mistica-color-background: var(--mistica-tu-white);
        --mistica-color-backgroundAlternative: var(--mistica-tu-grey1);
        --mistica-color-backgroundBrand: var(--mistica-tu-primary);
        --mistica-color-backgroundBrandSecondary: var(--mistica-tu-blue);
        --mistica-color-backgroundContainer: var(--mistica-tu-white);
        --mistica-color-backgroundContainerError: var(--mistica-tu-red10);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-tu-raw-grey9), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-tu-raw-grey9), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-tu-primary);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-tu-raw-grey9), 0.2);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-tu-raw-grey9), 0.4);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-tu-primary80);
        --mistica-color-backgroundContainerAlternative: var(--mistica-tu-grey1);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-tu-raw-primary), 0.8);
        --mistica-color-backgroundSkeleton: var(--mistica-tu-grey2);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-tu-primary65);
        --mistica-color-backgroundBrandTop: var(--mistica-tu-primary);
        --mistica-color-backgroundBrandBottom: var(--mistica-tu-primary);
        --mistica-color-appBarBackground: var(--mistica-tu-white);
        --mistica-color-navigationBarBackground: var(--mistica-tu-primary);
        --mistica-color-skeletonWave: var(--mistica-tu-grey2);
        --mistica-color-borderLow: var(--mistica-tu-grey1);
        --mistica-color-border: var(--mistica-tu-grey2);
        --mistica-color-borderHigh: var(--mistica-tu-grey5);
        --mistica-color-borderSelected: var(--mistica-tu-blue);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-tu-raw-grey9), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-tu-raw-grey9), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-tu-red);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-tu-red55);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-tu-red55);
        --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-tu-red10);
        --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-tu-white);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-tu-red10);
        --mistica-color-buttonLinkBackgroundSelected: var(--mistica-tu-blue10);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.08);
        --mistica-color-buttonPrimaryBackground: var(--mistica-tu-primary);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-tu-white);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-tu-primary45);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-tu-primary45);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.8);
        --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-tu-blue10);
        --mistica-color-buttonSecondaryBorder: var(--mistica-tu-blue);
        --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-tu-blue10);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-tu-blue70);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-tu-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-tu-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-tu-raw-white), 0.1);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-tu-raw-white), 0.1);
        --mistica-color-textButtonPrimary: var(--mistica-tu-white);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-tu-primary);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-tu-primary);
        --mistica-color-textButtonSecondary: var(--mistica-tu-blue);
        --mistica-color-textButtonSecondarySelected: var(--mistica-tu-blue70);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-tu-white);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-tu-white);
        --mistica-color-textLink: var(--mistica-tu-blue);
        --mistica-color-textLinkInverse: var(--mistica-tu-white);
        --mistica-color-textLinkDanger: var(--mistica-tu-red);
        --mistica-color-textLinkSnackbar: var(--mistica-tu-white);
        --mistica-color-textActivated: var(--mistica-tu-primary);
        --mistica-color-textBrand: var(--mistica-tu-blue);
        --mistica-color-control: var(--mistica-tu-grey5);
        --mistica-color-controlActivated: var(--mistica-tu-primary);
        --mistica-color-controlInverse: var(--mistica-tu-white);
        --mistica-color-controlActivatedInverse: var(--mistica-tu-white);
        --mistica-color-controlError: var(--mistica-tu-red);
        --mistica-color-barTrack: var(--mistica-tu-grey2);
        --mistica-color-loadingBar: var(--mistica-tu-green40);
        --mistica-color-loadingBarBackground: var(--mistica-tu-green);
        --mistica-color-toggleAndroidInactive: var(--mistica-tu-grey2);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-tu-primary15);
        --mistica-color-iosControlKnob: var(--mistica-tu-white);
        --mistica-color-divider: var(--mistica-tu-grey2);
        --mistica-color-dividerInverse: rgba(var(--mistica-tu-raw-white), 0.2);
        --mistica-color-navigationBarDivider: var(--mistica-tu-primary);
        --mistica-color-badge: var(--mistica-tu-blue);
        --mistica-color-feedbackErrorBackground: var(--mistica-tu-red);
        --mistica-color-feedbackInfoBackground: var(--mistica-tu-primary);
        --mistica-color-brand: var(--mistica-tu-blue);
        --mistica-color-brandHigh: var(--mistica-tu-blue70);
        --mistica-color-inverse: var(--mistica-tu-white);
        --mistica-color-neutralHigh: var(--mistica-tu-grey9);
        --mistica-color-neutralMedium: var(--mistica-tu-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-tu-grey5);
        --mistica-color-neutralLow: var(--mistica-tu-grey1);
        --mistica-color-neutralLowAlternative: var(--mistica-tu-grey2);
        --mistica-color-textPrimary: var(--mistica-tu-grey9);
        --mistica-color-textPrimaryInverse: var(--mistica-tu-white);
        --mistica-color-textSecondary: var(--mistica-tu-grey6);
        --mistica-color-textSecondaryInverse: var(--mistica-tu-grey3);
        --mistica-color-error: var(--mistica-tu-red);
        --mistica-color-textError: var(--mistica-tu-red);
        --mistica-color-textErrorInverse: var(--mistica-tu-white);
        --mistica-color-success: var(--mistica-tu-green);
        --mistica-color-warning: var(--mistica-tu-orange);
        --mistica-color-promo: var(--mistica-tu-blue);
        --mistica-color-highlight: var(--mistica-tu-red40);
        --mistica-color-successLow: var(--mistica-tu-green10);
        --mistica-color-warningLow: var(--mistica-tu-orange20);
        --mistica-color-errorLow: var(--mistica-tu-red10);
        --mistica-color-promoLow: var(--mistica-tu-blue10);
        --mistica-color-brandLow: var(--mistica-tu-blue10);
        --mistica-color-successHigh: var(--mistica-tu-green75);
        --mistica-color-warningHigh: var(--mistica-tu-orange70);
        --mistica-color-errorHigh: var(--mistica-tu-red70);
        --mistica-color-promoHigh: var(--mistica-tu-blue);
        --mistica-color-successHighInverse: var(--mistica-tu-green75);
        --mistica-color-warningHighInverse: var(--mistica-tu-orange70);
        --mistica-color-errorHighInverse: var(--mistica-tu-red70);
        --mistica-color-promoHighInverse: var(--mistica-tu-blue);
        --mistica-color-textNavigationBarPrimary: var(--mistica-tu-white);
        --mistica-color-textNavigationBarSecondary: var(--mistica-tu-grey1);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-tu-grey1);
        --mistica-color-textNavigationSearchBarText: var(--mistica-tu-white);
        --mistica-color-textAppBar: var(--mistica-tu-grey6);
        --mistica-color-textAppBarSelected: var(--mistica-tu-primary);
        --mistica-color-customTabsBackground: var(--mistica-tu-white);
        --mistica-color-tagTextPromo: var(--mistica-tu-blue);
        --mistica-color-tagTextActive: var(--mistica-tu-blue);
        --mistica-color-tagTextInactive: var(--mistica-tu-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-tu-green75);
        --mistica-color-tagTextWarning: var(--mistica-tu-orange70);
        --mistica-color-tagTextError: var(--mistica-tu-red70);
        --mistica-color-tagBackgroundPromo: var(--mistica-tu-blue10);
        --mistica-color-tagBackgroundActive: var(--mistica-tu-blue10);
        --mistica-color-tagBackgroundInactive: var(--mistica-tu-grey1);
        --mistica-color-tagBackgroundSuccess: var(--mistica-tu-green10);
        --mistica-color-tagBackgroundWarning: var(--mistica-tu-orange20);
        --mistica-color-tagBackgroundError: var(--mistica-tu-red10);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-tu-raw-black), 0) 0%,
            rgba(var(--mistica-tu-raw-black), 0.4) 30%,
            rgba(var(--mistica-tu-raw-black), 0.7) 100%
        );
    }
}

@media (min-width: 1024px) {
    [data-mistica-skin='tu'] {
        /* Text */
        --mistica-font-size-1: 0.875rem;
        --mistica-line-height-1: 1.25rem;
        --mistica-font-size-2: 1rem;
        --mistica-line-height-2: 1.5rem;
        --mistica-font-size-3: 1.125rem;
        --mistica-line-height-3: 1.5rem;
        --mistica-font-size-4: 1.25rem;
        --mistica-line-height-4: 1.75rem;
        --mistica-font-size-5: 1.75rem;
        --mistica-line-height-5: 2rem;
        --mistica-font-size-6: 2rem;
        --mistica-line-height-6: 2.5rem;
        --mistica-font-size-7: 2.5rem;
        --mistica-line-height-7: 3rem;
        --mistica-font-size-8: 3rem;
        --mistica-line-height-8: 3.5rem;
        --mistica-font-size-9: 3.5rem;
        --mistica-line-height-9: 4rem;
        --mistica-font-size-10: 4rem;
        --mistica-line-height-10: 4.5rem;
        --mistica-font-size-cardTitle: 1.5rem;
        --mistica-line-height-cardTitle: 1.75rem;

        --mistica-font-size-tabsLabel: 1.125rem;
        --mistica-line-height-tabsLabel: 1.5rem;

        --mistica-font-size-title2: 1.75rem;
        --mistica-line-height-title2: 2rem;
    }
}
