[data-mistica-skin='vivo'] {
    /* Palette colors */
    --mistica-vivo-white: #ffffff;
    --mistica-vivo-grey1: #f6f6f6;
    --mistica-vivo-vivoPurple: #660099;
    --mistica-vivo-pepperLight10: #fce4ef;
    --mistica-vivo-vivoPurpleDark: #461e5f;
    --mistica-vivo-grey2: #eeeeee;
    --mistica-vivo-grey3: #dddddd;
    --mistica-vivo-grey5: #666666;
    --mistica-vivo-pepper: #cc1f59;
    --mistica-vivo-pepperDark: #b71d63;
    --mistica-vivo-vivoPurpleLight10: #efe5f4;
    --mistica-vivo-vivoPurpleLight50: #b280cc;
    --mistica-vivo-pink: #eb3d7d;
    --mistica-vivo-pepperLight30: #f7b1cb;
    --mistica-vivo-vivoPurpleLight20: #e0cceb;
    --mistica-vivo-grey6: #000000;
    --mistica-vivo-vivoGreen: #99cc33;
    --mistica-vivo-orange: #ff9900;
    --mistica-vivo-vivoGreenLight10: #edf8e8;
    --mistica-vivo-orangeLight10: #ffefe1;
    --mistica-vivo-vivoGreenDark: #225c3d;
    --mistica-vivo-orangeDark: #972a1d;
    --mistica-vivo-pepperDark80: #8f2052;
    --mistica-vivo-grey4: #999999;
    --mistica-vivo-darkModeBlack: #191919;
    --mistica-vivo-darkModeGrey: #242424;
    --mistica-vivo-darkModeGrey6: #313235;
    --mistica-vivo-vivoPurpleLight80: #8433ad;
    --mistica-vivo-vivoGreenLight30: #91ae9e;
    --mistica-vivo-orangeLight40: #ffb84c;
    --mistica-vivo-pepperLight40: #db628b;

    /* Raw palette colors, for use with rgba() */
    --mistica-vivo-raw-darkModeBlack: 25, 25, 25;
    --mistica-vivo-raw-grey6: 0, 0, 0;
    --mistica-vivo-raw-white: 255, 255, 255;
    --mistica-vivo-raw-darkModeGrey: 36, 36, 36;

    /* Colors */
    --mistica-color-background: var(--mistica-vivo-white);
    --mistica-color-backgroundAlternative: var(--mistica-vivo-grey1);
    --mistica-color-backgroundBrand: var(--mistica-vivo-vivoPurple);
    --mistica-color-backgroundBrandSecondary: var(--mistica-vivo-vivoPurple);
    --mistica-color-backgroundContainer: var(--mistica-vivo-white);
    --mistica-color-backgroundContainerError: var(--mistica-vivo-pepperLight10);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-vivo-vivoPurple);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.2);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.4);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-backgroundContainerAlternative: var(--mistica-vivo-grey1);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-vivo-raw-grey6), 0.6);
    --mistica-color-backgroundSkeleton: var(--mistica-vivo-grey2);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-backgroundBrandTop: var(--mistica-vivo-vivoPurple);
    --mistica-color-backgroundBrandBottom: var(--mistica-vivo-vivoPurple);
    --mistica-color-appBarBackground: var(--mistica-vivo-white);
    --mistica-color-navigationBarBackground: var(--mistica-vivo-vivoPurple);
    --mistica-color-skeletonWave: var(--mistica-vivo-grey2);
    --mistica-color-borderLow: var(--mistica-vivo-grey1);
    --mistica-color-border: var(--mistica-vivo-grey3);
    --mistica-color-borderHigh: var(--mistica-vivo-grey5);
    --mistica-color-borderSelected: var(--mistica-vivo-vivoPurple);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-vivo-pepper);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-vivo-pepperDark);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-vivo-pepperDark);
    --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-vivo-pepperLight10);
    --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-vivo-white);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-vivo-pepperLight10);
    --mistica-color-buttonLinkBackgroundSelected: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.1);
    --mistica-color-buttonPrimaryBackground: var(--mistica-vivo-vivoPurple);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-vivo-white);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-buttonSecondaryBorder: var(--mistica-vivo-vivoPurple);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-textButtonPrimary: var(--mistica-vivo-white);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-vivo-vivoPurple);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-vivo-vivoPurple);
    --mistica-color-textButtonSecondary: var(--mistica-vivo-vivoPurple);
    --mistica-color-textButtonSecondarySelected: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-vivo-white);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-vivo-white);
    --mistica-color-textLink: var(--mistica-vivo-vivoPurple);
    --mistica-color-textLinkInverse: var(--mistica-vivo-white);
    --mistica-color-textLinkDanger: var(--mistica-vivo-pepper);
    --mistica-color-textLinkSnackbar: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textActivated: var(--mistica-vivo-vivoPurple);
    --mistica-color-textBrand: var(--mistica-vivo-vivoPurple);
    --mistica-color-control: var(--mistica-vivo-grey3);
    --mistica-color-controlActivated: var(--mistica-vivo-vivoPurple);
    --mistica-color-controlInverse: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-controlActivatedInverse: var(--mistica-vivo-white);
    --mistica-color-controlError: var(--mistica-vivo-pepper);
    --mistica-color-barTrack: var(--mistica-vivo-grey3);
    --mistica-color-loadingBar: var(--mistica-vivo-pink);
    --mistica-color-loadingBarBackground: var(--mistica-vivo-pepperLight30);
    --mistica-color-toggleAndroidInactive: var(--mistica-vivo-grey2);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-vivo-vivoPurpleLight20);
    --mistica-color-iosControlKnob: var(--mistica-vivo-white);
    --mistica-color-divider: var(--mistica-vivo-grey2);
    --mistica-color-dividerInverse: rgba(var(--mistica-vivo-raw-white), 0.2);
    --mistica-color-navigationBarDivider: var(--mistica-vivo-vivoPurple);
    --mistica-color-badge: var(--mistica-vivo-pepperDark);
    --mistica-color-feedbackErrorBackground: var(--mistica-vivo-pepper);
    --mistica-color-feedbackInfoBackground: var(--mistica-vivo-grey6);
    --mistica-color-brand: var(--mistica-vivo-vivoPurple);
    --mistica-color-brandHigh: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-inverse: var(--mistica-vivo-white);
    --mistica-color-neutralHigh: var(--mistica-vivo-grey6);
    --mistica-color-neutralMedium: var(--mistica-vivo-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-vivo-grey5);
    --mistica-color-neutralLow: var(--mistica-vivo-grey1);
    --mistica-color-neutralLowAlternative: var(--mistica-vivo-grey2);
    --mistica-color-textPrimary: var(--mistica-vivo-grey6);
    --mistica-color-textPrimaryInverse: var(--mistica-vivo-white);
    --mistica-color-textSecondary: var(--mistica-vivo-grey5);
    --mistica-color-textSecondaryInverse: var(--mistica-vivo-vivoPurpleLight20);
    --mistica-color-success: var(--mistica-vivo-vivoGreen);
    --mistica-color-warning: var(--mistica-vivo-orange);
    --mistica-color-error: var(--mistica-vivo-pepper);
    --mistica-color-textError: var(--mistica-vivo-pepper);
    --mistica-color-textErrorInverse: var(--mistica-vivo-white);
    --mistica-color-promo: var(--mistica-vivo-vivoPurple);
    --mistica-color-highlight: var(--mistica-vivo-pink);
    --mistica-color-successLow: var(--mistica-vivo-vivoGreenLight10);
    --mistica-color-warningLow: var(--mistica-vivo-orangeLight10);
    --mistica-color-errorLow: var(--mistica-vivo-pepperLight10);
    --mistica-color-promoLow: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-brandLow: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-successHigh: var(--mistica-vivo-vivoGreenDark);
    --mistica-color-warningHigh: var(--mistica-vivo-orangeDark);
    --mistica-color-errorHigh: var(--mistica-vivo-pepperDark80);
    --mistica-color-promoHigh: var(--mistica-vivo-vivoPurple);
    --mistica-color-successHighInverse: var(--mistica-vivo-vivoGreenDark);
    --mistica-color-warningHighInverse: var(--mistica-vivo-orangeDark);
    --mistica-color-errorHighInverse: var(--mistica-vivo-pepperDark80);
    --mistica-color-promoHighInverse: var(--mistica-vivo-vivoPurple);
    --mistica-color-textNavigationBarPrimary: var(--mistica-vivo-white);
    --mistica-color-textNavigationBarSecondary: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textNavigationSearchBarText: var(--mistica-vivo-white);
    --mistica-color-textAppBar: var(--mistica-vivo-grey4);
    --mistica-color-textAppBarSelected: var(--mistica-vivo-vivoPurple);
    --mistica-color-customTabsBackground: var(--mistica-vivo-vivoPurple);
    --mistica-color-tagTextPromo: var(--mistica-vivo-vivoPurple);
    --mistica-color-tagTextActive: var(--mistica-vivo-vivoPurple);
    --mistica-color-tagTextInactive: var(--mistica-vivo-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-vivo-vivoGreenDark);
    --mistica-color-tagTextWarning: var(--mistica-vivo-orangeDark);
    --mistica-color-tagTextError: var(--mistica-vivo-pepperDark80);
    --mistica-color-tagBackgroundPromo: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-tagBackgroundActive: var(--mistica-vivo-vivoPurpleLight10);
    --mistica-color-tagBackgroundInactive: var(--mistica-vivo-grey1);
    --mistica-color-tagBackgroundSuccess: var(--mistica-vivo-vivoGreenLight10);
    --mistica-color-tagBackgroundWarning: var(--mistica-vivo-orangeLight10);
    --mistica-color-tagBackgroundError: var(--mistica-vivo-pepperLight10);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-vivo-raw-grey6), 0) 0%,
        rgba(var(--mistica-vivo-raw-grey6), 0.4) 30%,
        rgba(var(--mistica-vivo-raw-grey6), 0.7) 100%
    );

    /* Border radius */
    --mistica-border-radius-avatar: 50%;
    --mistica-border-radius-bar: 999px;
    --mistica-border-radius-button: 4px;
    --mistica-border-radius-checkbox: 2px;
    --mistica-border-radius-container: 8px;
    --mistica-border-radius-indicator: 999px;
    --mistica-border-radius-input: 8px;
    --mistica-border-radius-legacyDisplay: 16px;
    --mistica-border-radius-popup: 8px;
    --mistica-border-radius-sheet: 8px;
    --mistica-border-radius-mediaSmall: 8px;

    /* Text */
    --mistica-font-size-1: 0.75rem;
    --mistica-line-height-1: 1rem;
    --mistica-font-size-2: 0.875rem;
    --mistica-line-height-2: 1.25rem;
    --mistica-font-size-3: 1rem;
    --mistica-line-height-3: 1.5rem;
    --mistica-font-size-4: 1.125rem;
    --mistica-line-height-4: 1.5rem;
    --mistica-font-size-5: 1.25rem;
    --mistica-line-height-5: 1.5rem;
    --mistica-font-weight-5: 300;
    --mistica-font-size-6: 1.5rem;
    --mistica-line-height-6: 2rem;
    --mistica-font-weight-6: 300;
    --mistica-font-size-7: 1.75rem;
    --mistica-line-height-7: 2rem;
    --mistica-font-weight-7: 300;
    --mistica-font-size-8: 2rem;
    --mistica-line-height-8: 2.5rem;
    --mistica-font-weight-8: 300;
    --mistica-font-size-9: 2.5rem;
    --mistica-line-height-9: 3rem;
    --mistica-font-weight-9: 300;
    --mistica-font-size-10: 3rem;
    --mistica-line-height-10: 3.5rem;
    --mistica-font-weight-10: 300;
    --mistica-font-size-cardTitle: 1.25rem;
    --mistica-line-height-cardTitle: 1.5rem;
    --mistica-font-weight-cardTitle: 400;
    --mistica-font-weight-button: 500;
    --mistica-font-size-tabsLabel: 1rem;
    --mistica-line-height-tabsLabel: 1.5rem;
    --mistica-font-weight-tabsLabel: 500;
    --mistica-font-weight-link: 500;
    --mistica-font-weight-title1: 500;
    --mistica-font-size-title2: 1.25rem;
    --mistica-line-height-title2: 1.5rem;
    --mistica-font-weight-title2: 300;
    --mistica-font-weight-indicator: 500;
    --mistica-font-weight-navigationBar: 500;
}

[data-mistica-skin='vivo'][data-mistica-color-scheme='dark'] {
    --mistica-color-background: var(--mistica-vivo-darkModeBlack);
    --mistica-color-backgroundAlternative: var(--mistica-vivo-darkModeBlack);
    --mistica-color-backgroundBrand: var(--mistica-vivo-darkModeBlack);
    --mistica-color-backgroundBrandSecondary: var(--mistica-vivo-darkModeBlack);
    --mistica-color-backgroundContainer: var(--mistica-vivo-darkModeGrey);
    --mistica-color-backgroundContainerError: var(--mistica-vivo-darkModeGrey);
    --mistica-color-backgroundContainerHover: rgba(var(--mistica-vivo-raw-white), 0.03);
    --mistica-color-backgroundContainerPressed: rgba(var(--mistica-vivo-raw-white), 0.05);
    --mistica-color-backgroundContainerBrand: var(--mistica-vivo-darkModeGrey);
    --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-vivo-raw-white), 0.03);
    --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-vivo-raw-white), 0.05);
    --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-vivo-darkModeGrey);
    --mistica-color-backgroundContainerAlternative: var(--mistica-vivo-darkModeGrey);
    --mistica-color-backgroundOverlay: rgba(var(--mistica-vivo-raw-darkModeGrey), 0.8);
    --mistica-color-backgroundSkeleton: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-backgroundSkeletonInverse: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-backgroundBrandTop: var(--mistica-vivo-darkModeBlack);
    --mistica-color-backgroundBrandBottom: var(--mistica-vivo-darkModeBlack);
    --mistica-color-appBarBackground: var(--mistica-vivo-darkModeGrey);
    --mistica-color-navigationBarBackground: var(--mistica-vivo-darkModeBlack);
    --mistica-color-skeletonWave: var(--mistica-vivo-grey5);
    --mistica-color-borderLow: var(--mistica-vivo-darkModeBlack);
    --mistica-color-border: var(--mistica-vivo-darkModeGrey);
    --mistica-color-borderHigh: var(--mistica-vivo-grey5);
    --mistica-color-borderSelected: var(--mistica-vivo-vivoPurple);
    --mistica-color-coverBackgroundHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.25);
    --mistica-color-coverBackgroundPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.35);
    --mistica-color-buttonDangerBackground: var(--mistica-vivo-pepper);
    --mistica-color-buttonDangerBackgroundSelected: var(--mistica-vivo-pepperDark);
    --mistica-color-buttonDangerBackgroundHover: var(--mistica-vivo-pepperDark);
    --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
    --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-vivo-raw-white), 0);
    --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
    --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
    --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
    --mistica-color-buttonPrimaryBackground: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-vivo-vivoPurpleDark);
    --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-buttonSecondaryBorder: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBorderSelected: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBorderInverse: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-vivo-white);
    --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
    --mistica-color-textButtonPrimary: var(--mistica-vivo-grey2);
    --mistica-color-textButtonPrimaryInverse: var(--mistica-vivo-grey2);
    --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-vivo-grey2);
    --mistica-color-textButtonSecondary: var(--mistica-vivo-grey2);
    --mistica-color-textButtonSecondarySelected: var(--mistica-vivo-grey2);
    --mistica-color-textButtonSecondaryInverse: var(--mistica-vivo-grey2);
    --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-vivo-grey2);
    --mistica-color-textLink: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textLinkInverse: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textLinkDanger: var(--mistica-vivo-pepper);
    --mistica-color-textLinkSnackbar: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-textActivated: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-textBrand: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-control: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-controlActivated: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-controlInverse: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-controlActivatedInverse: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-controlError: var(--mistica-vivo-pepper);
    --mistica-color-barTrack: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-loadingBar: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-loadingBarBackground: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-toggleAndroidInactive: var(--mistica-vivo-grey4);
    --mistica-color-toggleAndroidBackgroundActive: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-iosControlKnob: var(--mistica-vivo-grey2);
    --mistica-color-divider: rgba(var(--mistica-vivo-raw-white), 0.05);
    --mistica-color-dividerInverse: rgba(var(--mistica-vivo-raw-white), 0.05);
    --mistica-color-navigationBarDivider: var(--mistica-vivo-darkModeBlack);
    --mistica-color-badge: var(--mistica-vivo-pepperDark);
    --mistica-color-feedbackErrorBackground: var(--mistica-vivo-pepper);
    --mistica-color-feedbackInfoBackground: var(--mistica-vivo-grey6);
    --mistica-color-brand: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-brandHigh: rgba(var(--mistica-vivo-raw-white), 0.05);
    --mistica-color-inverse: var(--mistica-vivo-grey2);
    --mistica-color-neutralHigh: var(--mistica-vivo-grey2);
    --mistica-color-neutralMedium: var(--mistica-vivo-grey5);
    --mistica-color-neutralMediumInverse: var(--mistica-vivo-grey5);
    --mistica-color-neutralLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-neutralLowAlternative: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-textPrimary: var(--mistica-vivo-grey2);
    --mistica-color-textPrimaryInverse: var(--mistica-vivo-grey2);
    --mistica-color-textSecondary: var(--mistica-vivo-grey4);
    --mistica-color-textSecondaryInverse: var(--mistica-vivo-grey4);
    --mistica-color-success: var(--mistica-vivo-vivoGreen);
    --mistica-color-warning: var(--mistica-vivo-orange);
    --mistica-color-error: var(--mistica-vivo-pepper);
    --mistica-color-textError: var(--mistica-vivo-pepper);
    --mistica-color-textErrorInverse: var(--mistica-vivo-pepper);
    --mistica-color-promo: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-highlight: var(--mistica-vivo-pink);
    --mistica-color-successLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-warningLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-errorLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-promoLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-brandLow: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-successHigh: var(--mistica-vivo-vivoGreenLight30);
    --mistica-color-warningHigh: var(--mistica-vivo-orangeLight40);
    --mistica-color-errorHigh: var(--mistica-vivo-pepperLight40);
    --mistica-color-promoHigh: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-successHighInverse: var(--mistica-vivo-vivoGreenDark);
    --mistica-color-warningHighInverse: var(--mistica-vivo-orangeDark);
    --mistica-color-errorHighInverse: var(--mistica-vivo-pepperDark80);
    --mistica-color-promoHighInverse: var(--mistica-vivo-vivoPurple);
    --mistica-color-textNavigationBarPrimary: var(--mistica-vivo-grey2);
    --mistica-color-textNavigationBarSecondary: var(--mistica-vivo-grey4);
    --mistica-color-textNavigationSearchBarHint: var(--mistica-vivo-grey4);
    --mistica-color-textNavigationSearchBarText: var(--mistica-vivo-grey2);
    --mistica-color-textAppBar: var(--mistica-vivo-grey5);
    --mistica-color-textAppBarSelected: var(--mistica-vivo-grey2);
    --mistica-color-customTabsBackground: var(--mistica-vivo-darkModeBlack);
    --mistica-color-tagTextPromo: var(--mistica-vivo-vivoPurpleLight50);
    --mistica-color-tagTextActive: var(--mistica-vivo-vivoPurpleLight80);
    --mistica-color-tagTextInactive: var(--mistica-vivo-grey5);
    --mistica-color-tagTextSuccess: var(--mistica-vivo-vivoGreenLight30);
    --mistica-color-tagTextWarning: var(--mistica-vivo-orangeLight40);
    --mistica-color-tagTextError: var(--mistica-vivo-pepperLight40);
    --mistica-color-tagBackgroundPromo: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-tagBackgroundActive: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-tagBackgroundInactive: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-tagBackgroundSuccess: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-tagBackgroundWarning: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-tagBackgroundError: var(--mistica-vivo-darkModeGrey6);
    --mistica-color-cardContentOverlay: linear-gradient(
        180deg,
        rgba(var(--mistica-vivo-raw-grey6), 0) 0%,
        rgba(var(--mistica-vivo-raw-grey6), 0.4) 30%,
        rgba(var(--mistica-vivo-raw-grey6), 0.7) 100%
    );
}

@media (prefers-color-scheme: dark) {
    [data-mistica-skin='vivo'] {
        --mistica-color-background: var(--mistica-vivo-darkModeBlack);
        --mistica-color-backgroundAlternative: var(--mistica-vivo-darkModeBlack);
        --mistica-color-backgroundBrand: var(--mistica-vivo-darkModeBlack);
        --mistica-color-backgroundBrandSecondary: var(--mistica-vivo-darkModeBlack);
        --mistica-color-backgroundContainer: var(--mistica-vivo-darkModeGrey);
        --mistica-color-backgroundContainerError: var(--mistica-vivo-darkModeGrey);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-vivo-raw-white), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-vivo-raw-white), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-vivo-darkModeGrey);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-vivo-raw-white), 0.03);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-vivo-raw-white), 0.05);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-vivo-darkModeGrey);
        --mistica-color-backgroundContainerAlternative: var(--mistica-vivo-darkModeGrey);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-vivo-raw-darkModeGrey), 0.8);
        --mistica-color-backgroundSkeleton: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-backgroundBrandTop: var(--mistica-vivo-darkModeBlack);
        --mistica-color-backgroundBrandBottom: var(--mistica-vivo-darkModeBlack);
        --mistica-color-appBarBackground: var(--mistica-vivo-darkModeGrey);
        --mistica-color-navigationBarBackground: var(--mistica-vivo-darkModeBlack);
        --mistica-color-skeletonWave: var(--mistica-vivo-grey5);
        --mistica-color-borderLow: var(--mistica-vivo-darkModeBlack);
        --mistica-color-border: var(--mistica-vivo-darkModeGrey);
        --mistica-color-borderHigh: var(--mistica-vivo-grey5);
        --mistica-color-borderSelected: var(--mistica-vivo-vivoPurple);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-vivo-pepper);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-vivo-pepperDark);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-vivo-pepperDark);
        --mistica-color-buttonLinkDangerBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
        --mistica-color-buttonLinkDangerBackgroundInverse: rgba(var(--mistica-vivo-raw-white), 0);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
        --mistica-color-buttonLinkBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.08);
        --mistica-color-buttonPrimaryBackground: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonSecondaryBackgroundHover: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-buttonSecondaryBorder: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-textButtonPrimary: var(--mistica-vivo-grey2);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-vivo-grey2);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-vivo-grey2);
        --mistica-color-textButtonSecondary: var(--mistica-vivo-grey2);
        --mistica-color-textButtonSecondarySelected: var(--mistica-vivo-grey2);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-vivo-grey2);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-vivo-grey2);
        --mistica-color-textLink: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textLinkInverse: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textLinkDanger: var(--mistica-vivo-pepper);
        --mistica-color-textLinkSnackbar: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textActivated: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-textBrand: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-control: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-controlActivated: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-controlInverse: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-controlActivatedInverse: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-controlError: var(--mistica-vivo-pepper);
        --mistica-color-barTrack: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-loadingBar: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-loadingBarBackground: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-toggleAndroidInactive: var(--mistica-vivo-grey4);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-iosControlKnob: var(--mistica-vivo-grey2);
        --mistica-color-divider: rgba(var(--mistica-vivo-raw-white), 0.05);
        --mistica-color-dividerInverse: rgba(var(--mistica-vivo-raw-white), 0.05);
        --mistica-color-navigationBarDivider: var(--mistica-vivo-darkModeBlack);
        --mistica-color-badge: var(--mistica-vivo-pepperDark);
        --mistica-color-feedbackErrorBackground: var(--mistica-vivo-pepper);
        --mistica-color-feedbackInfoBackground: var(--mistica-vivo-grey6);
        --mistica-color-brand: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-brandHigh: rgba(var(--mistica-vivo-raw-white), 0.05);
        --mistica-color-inverse: var(--mistica-vivo-grey2);
        --mistica-color-neutralHigh: var(--mistica-vivo-grey2);
        --mistica-color-neutralMedium: var(--mistica-vivo-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-vivo-grey5);
        --mistica-color-neutralLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-neutralLowAlternative: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-textPrimary: var(--mistica-vivo-grey2);
        --mistica-color-textPrimaryInverse: var(--mistica-vivo-grey2);
        --mistica-color-textSecondary: var(--mistica-vivo-grey4);
        --mistica-color-textSecondaryInverse: var(--mistica-vivo-grey4);
        --mistica-color-success: var(--mistica-vivo-vivoGreen);
        --mistica-color-warning: var(--mistica-vivo-orange);
        --mistica-color-error: var(--mistica-vivo-pepper);
        --mistica-color-textError: var(--mistica-vivo-pepper);
        --mistica-color-textErrorInverse: var(--mistica-vivo-pepper);
        --mistica-color-promo: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-highlight: var(--mistica-vivo-pink);
        --mistica-color-successLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-warningLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-errorLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-promoLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-brandLow: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-successHigh: var(--mistica-vivo-vivoGreenLight30);
        --mistica-color-warningHigh: var(--mistica-vivo-orangeLight40);
        --mistica-color-errorHigh: var(--mistica-vivo-pepperLight40);
        --mistica-color-promoHigh: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-successHighInverse: var(--mistica-vivo-vivoGreenDark);
        --mistica-color-warningHighInverse: var(--mistica-vivo-orangeDark);
        --mistica-color-errorHighInverse: var(--mistica-vivo-pepperDark80);
        --mistica-color-promoHighInverse: var(--mistica-vivo-vivoPurple);
        --mistica-color-textNavigationBarPrimary: var(--mistica-vivo-grey2);
        --mistica-color-textNavigationBarSecondary: var(--mistica-vivo-grey4);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-vivo-grey4);
        --mistica-color-textNavigationSearchBarText: var(--mistica-vivo-grey2);
        --mistica-color-textAppBar: var(--mistica-vivo-grey5);
        --mistica-color-textAppBarSelected: var(--mistica-vivo-grey2);
        --mistica-color-customTabsBackground: var(--mistica-vivo-darkModeBlack);
        --mistica-color-tagTextPromo: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-tagTextActive: var(--mistica-vivo-vivoPurpleLight80);
        --mistica-color-tagTextInactive: var(--mistica-vivo-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-vivo-vivoGreenLight30);
        --mistica-color-tagTextWarning: var(--mistica-vivo-orangeLight40);
        --mistica-color-tagTextError: var(--mistica-vivo-pepperLight40);
        --mistica-color-tagBackgroundPromo: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-tagBackgroundActive: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-tagBackgroundInactive: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-tagBackgroundSuccess: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-tagBackgroundWarning: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-tagBackgroundError: var(--mistica-vivo-darkModeGrey6);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-vivo-raw-grey6), 0) 0%,
            rgba(var(--mistica-vivo-raw-grey6), 0.4) 30%,
            rgba(var(--mistica-vivo-raw-grey6), 0.7) 100%
        );
    }

    [data-mistica-skin='vivo'][data-mistica-color-scheme='light'] {
        --mistica-color-background: var(--mistica-vivo-white);
        --mistica-color-backgroundAlternative: var(--mistica-vivo-grey1);
        --mistica-color-backgroundBrand: var(--mistica-vivo-vivoPurple);
        --mistica-color-backgroundBrandSecondary: var(--mistica-vivo-vivoPurple);
        --mistica-color-backgroundContainer: var(--mistica-vivo-white);
        --mistica-color-backgroundContainerError: var(--mistica-vivo-pepperLight10);
        --mistica-color-backgroundContainerHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.03);
        --mistica-color-backgroundContainerPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.05);
        --mistica-color-backgroundContainerBrand: var(--mistica-vivo-vivoPurple);
        --mistica-color-backgroundContainerBrandHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.2);
        --mistica-color-backgroundContainerBrandPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.4);
        --mistica-color-backgroundContainerBrandOverInverse: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-backgroundContainerAlternative: var(--mistica-vivo-grey1);
        --mistica-color-backgroundOverlay: rgba(var(--mistica-vivo-raw-grey6), 0.6);
        --mistica-color-backgroundSkeleton: var(--mistica-vivo-grey2);
        --mistica-color-backgroundSkeletonInverse: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-backgroundBrandTop: var(--mistica-vivo-vivoPurple);
        --mistica-color-backgroundBrandBottom: var(--mistica-vivo-vivoPurple);
        --mistica-color-appBarBackground: var(--mistica-vivo-white);
        --mistica-color-navigationBarBackground: var(--mistica-vivo-vivoPurple);
        --mistica-color-skeletonWave: var(--mistica-vivo-grey2);
        --mistica-color-borderLow: var(--mistica-vivo-grey1);
        --mistica-color-border: var(--mistica-vivo-grey3);
        --mistica-color-borderHigh: var(--mistica-vivo-grey5);
        --mistica-color-borderSelected: var(--mistica-vivo-vivoPurple);
        --mistica-color-coverBackgroundHover: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.25);
        --mistica-color-coverBackgroundPressed: rgba(var(--mistica-vivo-raw-darkModeBlack), 0.35);
        --mistica-color-buttonDangerBackground: var(--mistica-vivo-pepper);
        --mistica-color-buttonDangerBackgroundSelected: var(--mistica-vivo-pepperDark);
        --mistica-color-buttonDangerBackgroundHover: var(--mistica-vivo-pepperDark);
        --mistica-color-buttonLinkDangerBackgroundSelected: var(--mistica-vivo-pepperLight10);
        --mistica-color-buttonLinkDangerBackgroundInverse: var(--mistica-vivo-white);
        --mistica-color-buttonLinkDangerBackgroundInverseSelected: var(--mistica-vivo-pepperLight10);
        --mistica-color-buttonLinkBackgroundSelected: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-buttonLinkBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.1);
        --mistica-color-buttonPrimaryBackground: var(--mistica-vivo-vivoPurple);
        --mistica-color-buttonPrimaryBackgroundInverse: var(--mistica-vivo-white);
        --mistica-color-buttonPrimaryBackgroundSelected: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonPrimaryBackgroundHover: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonPrimaryBackgroundInverseSelected: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-buttonSecondaryBackgroundHover: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-buttonSecondaryBackgroundSelected: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-buttonSecondaryBorder: var(--mistica-vivo-vivoPurple);
        --mistica-color-buttonSecondaryBorderSelected: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-buttonSecondaryBorderInverse: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBorderInverseSelected: var(--mistica-vivo-white);
        --mistica-color-buttonSecondaryBackgroundInverseHover: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-buttonSecondaryBackgroundInverseSelected: rgba(var(--mistica-vivo-raw-white), 0.15);
        --mistica-color-textButtonPrimary: var(--mistica-vivo-white);
        --mistica-color-textButtonPrimaryInverse: var(--mistica-vivo-vivoPurple);
        --mistica-color-textButtonPrimaryInverseSelected: var(--mistica-vivo-vivoPurple);
        --mistica-color-textButtonSecondary: var(--mistica-vivo-vivoPurple);
        --mistica-color-textButtonSecondarySelected: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-textButtonSecondaryInverse: var(--mistica-vivo-white);
        --mistica-color-textButtonSecondaryInverseSelected: var(--mistica-vivo-white);
        --mistica-color-textLink: var(--mistica-vivo-vivoPurple);
        --mistica-color-textLinkInverse: var(--mistica-vivo-white);
        --mistica-color-textLinkDanger: var(--mistica-vivo-pepper);
        --mistica-color-textLinkSnackbar: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textActivated: var(--mistica-vivo-vivoPurple);
        --mistica-color-textBrand: var(--mistica-vivo-vivoPurple);
        --mistica-color-control: var(--mistica-vivo-grey3);
        --mistica-color-controlActivated: var(--mistica-vivo-vivoPurple);
        --mistica-color-controlInverse: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-controlActivatedInverse: var(--mistica-vivo-white);
        --mistica-color-controlError: var(--mistica-vivo-pepper);
        --mistica-color-barTrack: var(--mistica-vivo-grey3);
        --mistica-color-loadingBar: var(--mistica-vivo-pink);
        --mistica-color-loadingBarBackground: var(--mistica-vivo-pepperLight30);
        --mistica-color-toggleAndroidInactive: var(--mistica-vivo-grey2);
        --mistica-color-toggleAndroidBackgroundActive: var(--mistica-vivo-vivoPurpleLight20);
        --mistica-color-iosControlKnob: var(--mistica-vivo-white);
        --mistica-color-divider: var(--mistica-vivo-grey2);
        --mistica-color-dividerInverse: rgba(var(--mistica-vivo-raw-white), 0.2);
        --mistica-color-navigationBarDivider: var(--mistica-vivo-vivoPurple);
        --mistica-color-badge: var(--mistica-vivo-pepperDark);
        --mistica-color-feedbackErrorBackground: var(--mistica-vivo-pepper);
        --mistica-color-feedbackInfoBackground: var(--mistica-vivo-grey6);
        --mistica-color-brand: var(--mistica-vivo-vivoPurple);
        --mistica-color-brandHigh: var(--mistica-vivo-vivoPurpleDark);
        --mistica-color-inverse: var(--mistica-vivo-white);
        --mistica-color-neutralHigh: var(--mistica-vivo-grey6);
        --mistica-color-neutralMedium: var(--mistica-vivo-grey5);
        --mistica-color-neutralMediumInverse: var(--mistica-vivo-grey5);
        --mistica-color-neutralLow: var(--mistica-vivo-grey1);
        --mistica-color-neutralLowAlternative: var(--mistica-vivo-grey2);
        --mistica-color-textPrimary: var(--mistica-vivo-grey6);
        --mistica-color-textPrimaryInverse: var(--mistica-vivo-white);
        --mistica-color-textSecondary: var(--mistica-vivo-grey5);
        --mistica-color-textSecondaryInverse: var(--mistica-vivo-vivoPurpleLight20);
        --mistica-color-success: var(--mistica-vivo-vivoGreen);
        --mistica-color-warning: var(--mistica-vivo-orange);
        --mistica-color-error: var(--mistica-vivo-pepper);
        --mistica-color-textError: var(--mistica-vivo-pepper);
        --mistica-color-textErrorInverse: var(--mistica-vivo-white);
        --mistica-color-promo: var(--mistica-vivo-vivoPurple);
        --mistica-color-highlight: var(--mistica-vivo-pink);
        --mistica-color-successLow: var(--mistica-vivo-vivoGreenLight10);
        --mistica-color-warningLow: var(--mistica-vivo-orangeLight10);
        --mistica-color-errorLow: var(--mistica-vivo-pepperLight10);
        --mistica-color-promoLow: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-brandLow: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-successHigh: var(--mistica-vivo-vivoGreenDark);
        --mistica-color-warningHigh: var(--mistica-vivo-orangeDark);
        --mistica-color-errorHigh: var(--mistica-vivo-pepperDark80);
        --mistica-color-promoHigh: var(--mistica-vivo-vivoPurple);
        --mistica-color-successHighInverse: var(--mistica-vivo-vivoGreenDark);
        --mistica-color-warningHighInverse: var(--mistica-vivo-orangeDark);
        --mistica-color-errorHighInverse: var(--mistica-vivo-pepperDark80);
        --mistica-color-promoHighInverse: var(--mistica-vivo-vivoPurple);
        --mistica-color-textNavigationBarPrimary: var(--mistica-vivo-white);
        --mistica-color-textNavigationBarSecondary: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textNavigationSearchBarHint: var(--mistica-vivo-vivoPurpleLight50);
        --mistica-color-textNavigationSearchBarText: var(--mistica-vivo-white);
        --mistica-color-textAppBar: var(--mistica-vivo-grey4);
        --mistica-color-textAppBarSelected: var(--mistica-vivo-vivoPurple);
        --mistica-color-customTabsBackground: var(--mistica-vivo-vivoPurple);
        --mistica-color-tagTextPromo: var(--mistica-vivo-vivoPurple);
        --mistica-color-tagTextActive: var(--mistica-vivo-vivoPurple);
        --mistica-color-tagTextInactive: var(--mistica-vivo-grey5);
        --mistica-color-tagTextSuccess: var(--mistica-vivo-vivoGreenDark);
        --mistica-color-tagTextWarning: var(--mistica-vivo-orangeDark);
        --mistica-color-tagTextError: var(--mistica-vivo-pepperDark80);
        --mistica-color-tagBackgroundPromo: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-tagBackgroundActive: var(--mistica-vivo-vivoPurpleLight10);
        --mistica-color-tagBackgroundInactive: var(--mistica-vivo-grey1);
        --mistica-color-tagBackgroundSuccess: var(--mistica-vivo-vivoGreenLight10);
        --mistica-color-tagBackgroundWarning: var(--mistica-vivo-orangeLight10);
        --mistica-color-tagBackgroundError: var(--mistica-vivo-pepperLight10);
        --mistica-color-cardContentOverlay: linear-gradient(
            180deg,
            rgba(var(--mistica-vivo-raw-grey6), 0) 0%,
            rgba(var(--mistica-vivo-raw-grey6), 0.4) 30%,
            rgba(var(--mistica-vivo-raw-grey6), 0.7) 100%
        );
    }
}

@media (min-width: 1024px) {
    [data-mistica-skin='vivo'] {
        /* Text */
        --mistica-font-size-1: 0.875rem;
        --mistica-line-height-1: 1.25rem;
        --mistica-font-size-2: 1rem;
        --mistica-line-height-2: 1.5rem;
        --mistica-font-size-3: 1.125rem;
        --mistica-line-height-3: 1.5rem;
        --mistica-font-size-4: 1.25rem;
        --mistica-line-height-4: 1.75rem;
        --mistica-font-size-5: 1.75rem;
        --mistica-line-height-5: 2rem;
        --mistica-font-size-6: 2rem;
        --mistica-line-height-6: 2.5rem;
        --mistica-font-size-7: 2.5rem;
        --mistica-line-height-7: 3rem;
        --mistica-font-size-8: 3rem;
        --mistica-line-height-8: 3.5rem;
        --mistica-font-size-9: 3.5rem;
        --mistica-line-height-9: 4rem;
        --mistica-font-size-10: 4rem;
        --mistica-line-height-10: 4.5rem;
        --mistica-font-size-cardTitle: 1.5rem;
        --mistica-line-height-cardTitle: 1.75rem;

        --mistica-font-size-tabsLabel: 1.125rem;
        --mistica-line-height-tabsLabel: 1.5rem;

        --mistica-font-size-title2: 1.75rem;
        --mistica-line-height-title2: 2rem;
    }
}
