/**
 * To enable Dynamic Type in apple devices:
 * See: https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0
*/
@supports (font: -apple-system-body) {
    html {
        font: -apple-system-body !important;
    }
}

html {
    font-size: '100%';
}

body {
    font-family: -apple-system, 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background: white;
}
