/* Regular */
@font-face {
    font-family: 'On Air';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/OnAir-Regular.woff2') format('woff2');
}

/* Light */
@font-face {
    font-family: 'On Air';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/OnAir-Light.woff2') format('woff2');
}

/* Medium */
@font-face {
    font-family: 'On Air';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/OnAir-Medium.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'On Air';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/OnAir-Bold.woff2') format('woff2');
}
