dist/
coverage/
.directory
.DS_Store
.idea/
*.orig
*.rej
**/node_modules/
yarn-debug.log*
yarn-error.log*
__diff_output__
storybook-static/
/public
.vercel
reports

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# SonarQube scan
.scannerwork