flow-typed/npm/
flow-defs/
generated/
coverage/
node_modules/
dist/
dist-es/
public/
storybook-static/
.vercel/
CHANGELOG.md

# next.js
examples/next/.next/
examples/next/out/

# create-react-app
examples/create-react-app/build