{
    "env": {
        "coreJs": 3,
        "targets": {
            "chrome": "36",
            "firefox": "67",
            "safari": "13",
            "edge": "17",
            "ios": "13"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    }
}
