{
    "env": {
        "debug": true,
        // Copy/paste from package.json "browserslist" as SWC has a bug and cannot read that config
        // https://github.com/swc-project/swc/issues/3365
        // "ios_saf" is "ios" only for SWC
        "targets": {
            "chrome": "36",
            "firefox": "67",
            "safari": "13",
            "edge": "17",
            "ios": "13"
        }
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    }
}
