/* Regular */
@font-face {
    font-family: 'Telefonica Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Telefonica_Sans_Regular.woff2') format('woff2');
}

/* Light */
@font-face {
    font-family: 'Telefonica Sans';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Telefonica_Sans_Light.woff2') format('woff2');
}

/* Medium */
@font-face {
    font-family: 'Telefonica Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/Telefonica_Sans_Medium.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'Telefonica Sans';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Telefonica_Sans_Bold.woff2') format('woff2');
}
