@import url('../../css/roboto.css');
@import url('../../css/reset.css');

/* Mistica common tyles */
@import url('../../css/mistica-common.css');

/* Different skins */
@import url('../../css/o2-new.css');
@import url('../../css/blau.css');
@import url('../../css/vivo-new.css');
@import url('../../css/movistar.css');
@import url('../../css/telefonica.css');
@import url('../../css/tu.css');
@import url('../../css/esimflag.css');

html {
    font-size: 100%;
}

/**
 * To enable Dynamic Type in apple devices:
 * See: https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0
 */
@supports (font: -apple-system-body) {
    html {
        font: -apple-system-body !important;
    }
}

#app {
    padding-top: 24px;
    padding-bottom: 24px;
}

h1 {
    margin-bottom: 16px;
}

.controls {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.controls label {
    margin-right: 8px;
}

select {
    color: var(--mistica-color-textPrimary);
    background: var(--mistica-color-backgroundContainer);
    border: 1px solid var(--mistica-color-border);
    border-radius: var(--mistica-border-radius-input);
    padding: 8px 16px;
}

.components > h2 {
    margin-bottom: 16px;
}

.components > h3 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.components > h4 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.placeholder {
    box-sizing: border-box;
    background: rgba(from var(--mistica-color-neutralHigh) r g b / 0.08);
    border: 2px solid rgba(from var(--mistica-color-neutralHigh) r g b / 0.3);
    position: relative;
}

.placeholder::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(-2px 0, 0 -2px, calc(100% + 2px) 100%, 100% calc(100% + 2px));
    background-color: rgba(from var(--mistica-color-neutralHigh) r g b / 0.1);
}

.placeholder::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(calc(100% + 2px) 0, 100% -2px, -2px 100%, 0 calc(100% + 2px));
    background-color: rgba(from var(--mistica-color-neutralHigh) r g b / 0.1);
}

[data-demo-container] {
    border: 2px solid var(--mistica-color-divider);
    position: relative;
    margin-top: calc(var(--mistica-line-height-2) + 8px);
}

[data-demo-container]:before {
    content: attr(class);
    position: absolute;
    top: calc(-1 * var(--mistica-line-height-2));
    left: 0;
    color: var(--vcolor-textSecondary);
    line-height: var(--mistica-line-height-2);
}
