# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: self-hosted-novum
        container: docker.tuenti.io/service-inf/web-builder:pptr10.4-1.0.2

        strategy:
            matrix:
                node-version: [16.x]

        env:
            PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
            PUPPETEER_EXECUTABLE_PATH: /usr/local/share/.config/yarn/global/node_modules/puppeteer/.local-chromium/linux-901912/chrome-linux/chrome

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install dependencies
              run: yarn install --immutable --immutable-cache

            - run: yarn ci

            - name: 'Upload failed screenshot diffs'
              uses: './.github/actions/upload-failed-screenshots'
              if: always()
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  azure-account-name: ${{ secrets.AZURE_ACCOUNT_NAME }}
                  azure-account-key: ${{ secrets.AZURE_ACCOUNT_KEY }}
###
