# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        # replace this line with the following 2 comented lines to enable self-hosted github actions
        runs-on: ubuntu-latest
        # runs-on: self-hosted
        # container: docker.tuenti.io/service-inf/mistica-web-builder:1.0.0

        strategy:
            matrix:
                node-version: [12.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: yarn
            - run: yarn ci
            - name: Upload artifact
              uses: actions/upload-artifact@v2
              if: failure()
              with:
                  name: screenshot-diff
                  path: '**/__diff_output__/*.png'
            - name: 'Upload failed screenshot diffs'
              uses: './.github/actions/upload-failed-screenshots'
              if: failure()
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  azure-account-name: ${{ secrets.AZURE_ACCOUNT_NAME }}
                  azure-account-key: ${{ secrets.AZURE_ACCOUNT_KEY }}
