# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        container: telefonica/web-builder:chromium93.0.4577-1.2.4

        steps:
            - uses: actions/checkout@v2

            - name: Install dependencies
              run: yarn install --immutable --immutable-cache

            - run: yarn lint
            - run: yarn prettier-check
            - run: yarn circular-dependencies
            - run: yarn build
            - run: yarn ts-check
            - run: yarn storybook-static
            - run: yarn test --ci
            - run: NO_BUILD=true yarn test-ssr --ci
            - run: yarn test-acceptance --ci

            - name: 'Upload failed screenshot diffs'
              uses: './.github/actions/upload-failed-screenshots'
              if: always()
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  azure-account-name: ${{ secrets.AZURE_ACCOUNT_NAME }}
                  azure-account-key: ${{ secrets.AZURE_ACCOUNT_KEY }}
###
