# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        container: telefonica/web-builder:chromium93.0.4577-1.2.4
        strategy:
            matrix:
                shard: [1/3, 2/3, 3/3]

        steps:
            - uses: actions/checkout@v2

            - name: Install dependencies
              run: yarn install --immutable --immutable-cache

            - name: Run tests
              run: yarn ci

            - name: Acceptance
              run: yarn ci-acceptance --shard=${{ matrix.shard }}

            - name: 'Upload failed screenshot diffs'
              uses: './.github/actions/upload-failed-screenshots'
              if: always()
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  azure-account-name: ${{ secrets.AZURE_ACCOUNT_NAME }}
                  azure-account-key: ${{ secrets.AZURE_ACCOUNT_KEY }}
###
