name: deploy-pull-requests
on: [pull_request]
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            # we need to run a different buildCommand for PR previews (see package.json scripts)
            - run: sed -i 's/yarn vercel-build/yarn vercel-preview-build/' vercel.json
              shell: bash

            - uses: amondnet/vercel-action@master
              id: vercel-deploy # identifier to reference this step
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }} # needed to allow comments on prs
                  vercel-token: ${{ secrets.VERCEL_TOKEN }} # required
                  vercel-org-id: ${{ secrets.MISTICA_WEB_VERCEL_ORG_ID}} # required
                  vercel-project-id: ${{ secrets.MISTICA_WEB_VERCEL_PROJECT_ID}} # required
                  vercel-project-name: mistica-web # not required by the docs, but the action fails if not specified. See https://github.com/amondnet/vercel-action/issues/30#issuecomment-678608424
                  working-directory: ./
