name: Release
on:
    workflow_dispatch:
        inputs:
            cliArgs:
                description: 'CLI args'
                required: false
                default: ''
jobs:
    release:
        name: Release
        runs-on: self-hosted-novum
        container: docker.tuenti.io/service-inf/web-builder:pptr10.4-1.0.1
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.FLOW_GITHUB_TOKEN }}

            - name: Setup Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 16

            - name: Restore node_modules from cache
              uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: ./node_modules
                  key: node_modules-${{ hashFiles('**/yarn.lock') }}
            - name: Install dependencies
              # skip yarn install if restored from cache
              # note that the id (yarn-cache) must match the id from actions/cache@v2 step
              if: steps.yarn-cache.outputs.cache-hit != 'true'
              run: yarn

            - name: Husky install
              if: steps.yarn-cache.outputs.cache-hit == 'true'
              run: yarn husky install

            - name: 'Set npm token'
              uses: './.github/actions/set-npm-token'
              with:
                  npm-token: ${{ secrets.NPM_PUBLISH_TOKEN }}

            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.FLOW_GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
              run: npx semantic-release ${{ github.event.inputs.cliArgs }}
