name: Release
on:
    workflow_dispatch:
        inputs:
            cliArgs:
                description: 'CLI args'
                required: false
                default: ''
jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        container: telefonica/web-builder:chromium93.0.4577-1.2.4
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.FLOW_GITHUB_TOKEN }}

            - name: Install dependencies
              env:
                  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
              run: yarn install --immutable --immutable-cache

            - name: Husky install
              if: steps.yarn-cache.outputs.cache-hit == 'true'
              run: yarn husky install

            - name: 'Set npm token'
              uses: './.github/actions/set-npm-token'
              with:
                  npm-token: ${{ secrets.NPM_PUBLISH_TOKEN }}

            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.FLOW_GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
              run: npx semantic-release ${{ github.event.inputs.cliArgs }}
